workflows/procurement-agents/Demo: Procurement Agents/Demo: Procurement Agents.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Requisition Processing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Requisition Processing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RFQ Email Generator": {
      "main": [
        [
          {
            "node": "parse json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy_DB": {
      "ai_tool": [
        [
          {
            "node": "Requisition Processing Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Suppliers_DB": {
      "ai_tool": [
        [
          {
            "node": "Requisition Processing Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RFQ Email Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RFQ Email Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse json": {
      "main": [
        [
          {
            "node": "Email Suppliers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse json1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model for Quote Extraction": {
      "ai_languageModel": [
        [
          {
            "node": "Quote Extraction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quote Data Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Quote Extraction Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quotes_DB": {
      "ai_tool": [
        [
          {
            "node": "Quote Extraction Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Procurement Policy Tool": {
      "ai_tool": [
        [
          {
            "node": "Quote Scoring Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model for Scoring": {
      "ai_languageModel": [
        [
          {
            "node": "Quote Scoring Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quote Scoring Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote Extraction Agent": {
      "main": [
        [
          {
            "node": "Quote Scoring Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Quote Extraction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quotes_db": {
      "ai_tool": [
        [
          {
            "node": "Quote Scoring Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requisition Processing Agent": {
      "main": [
        [
          {
            "node": "parse json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-13T10:54:57.353Z",
  "id": "S5ThaTKpWvZrDJ6C",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Demo: Procurement Agents",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16848,
        5760
      ],
      "id": "90847ddd-9934-4141-86aa-32fd1e3a44fe",
      "name": "When chat message received",
      "webhookId": "40b2b253-0fc4-4e06-9dfb-38e232b79584"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -15568,
        5920
      ],
      "id": "333f0c22-1f2f-4ac3-a07c-a5fbadb78329",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a4ja82V4nnlunpii",
          "name": "openai"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate RFQ emails for the following suppliers\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are a procurement RFQ email generation agent.\n\nYour job is to create professional RFQ emails for selected suppliers based only on the structured sourcing intake, policy check, and selected supplier list provided to you.\n\nYou must:\n- Generate one RFQ email per selected supplier.\n- Include the case reference.\n- Include item description, quantity, delivery location, required date, quote deadline, and requested quote fields.\n- Include evaluation criteria.\n- Ask for sustainability information because sustainability is part of the evaluation.\n- Ask the supplier to reference the case ID in the email subject.\n- Be professional and concise.\n- Do not invent prices, suppliers, delivery terms, or policy rules.\n- Do not send the email yourself.\n- Return only valid JSON. No markdown.\n\nThe supplier quotation must request these fields:\n- unit price\n- delivery fee\n- total price\n- earliest delivery date\n- lead time in days\n- payment terms\n- warranty period\n- exceptions or assumptions\n\nReturn this JSON structure:\n\n{\n  \"case_id\": \"\",\n  \"rfq_quote_deadline\": \"\",\n  \"rfq_emails\": [\n    {\n      \"supplier_id\": \"\",\n      \"supplier_name\": \"\",\n      \"supplier_email\": \"\",\n      \"subject\": \"\",\n      \"body_text\": \"\",\n      \"requested_quote_fields\": []\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -12800,
        5680
      ],
      "id": "4cda3ecf-9b7c-4e5d-a240-3079f765e841",
      "name": "RFQ Email Generator"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "qNcW1MYC3JNWcaOZ",
          "mode": "list",
          "cachedResultName": "procurement_policy",
          "cachedResultUrl": "/projects/cFPhnNmamSW061Vq/datatables/qNcW1MYC3JNWcaOZ"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `fetch records only whose category_label matches the category label for the item the user requested`, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -15360,
        5936
      ],
      "id": "d5f970ea-b8d9-4d48-8310-b39d1e7c714c",
      "name": "Policy_DB"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Wqz22rWw2vTmHAR2",
          "mode": "list",
          "cachedResultName": "supplier_master.csv",
          "cachedResultUrl": "/projects/cFPhnNmamSW061Vq/datatables/Wqz22rWw2vTmHAR2"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -15136,
        5920
      ],
      "id": "1e6ec6cc-23e6-4d35-8b29-d811a30f2c55",
      "name": "Suppliers_DB"
    },
    {
      "parameters": {
        "fieldToSplitOut": "selected_suppliers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -13632,
        5664
      ],
      "id": "9fc61821-9965-4b9a-9854-b44ac5c6cf3e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -12736,
        5984
      ],
      "id": "db7becbb-51b2-4560-ab3a-05cb6df28de1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "a4ja82V4nnlunpii",
          "name": "openai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e621f47-c3e6-4a5e-992d-2724f7566a86",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready_for_rfq",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -14000,
        5872
      ],
      "id": "6a6b9e83-c91b-4dc1-a3c7-c8c9b9f611a6",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($json.output);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12352,
        5888
      ],
      "id": "85d7c742-51ae-4ce3-8235-aedeb2b96fd0",
      "name": "parse json"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($json.output);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15040,
        5568
      ],
      "id": "6928002c-aa70-47db-ad40-b8f879da8a1a",
      "name": "parse json1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract quote data from this email:\n\nSubject: {{ $('Gmail Trigger').item.json.subject }}\n\nBody: {{ $json.textPlain || $json.textHtml }}\n\nAttachments:{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a procurement quote extraction agent. Extract structured quote information from supplier email responses and save it to the database.\n\nYour workflow:\n1. Extract all quote fields from the email\n2. Use the Quotes_DB tool to upsert (insert or update) the extracted data\n\nExtract the following fields:\n- case_id: The RFQ reference number from the email subject or body\n-category: category where the item belongs to\n- supplier_name: Name of the supplier\n- supplier_email: Email address of the supplier\n- unit_price: Price per unit\n- delivery_fee: Delivery or shipping cost\n- total_price: Total quoted price\n- earliest_delivery_date: Earliest date they can deliver\n- lead_time_days: Number of days for delivery\n- payment_terms: Payment conditions\n- warranty_period: Warranty duration\n- sustainability_info: Any sustainability or environmental information provided\n- exceptions_assumptions: Any exceptions, assumptions, or special conditions\n\nAfter extracting the data, immediately call the Quotes_DB tool to save it. If information is missing, set the field to null.\n\nReturn only the extracted data in the specified JSON format.\n"
        }
      },
      "id": "27cf1608-8350-4701-a4de-b3a4f78733ab",
      "name": "Quote Extraction Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -14512,
        4304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "1751748e-c137-419f-a8d1-ddb5eb0605ca",
      "name": "OpenAI Model for Quote Extraction",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -14608,
        4560
      ],
      "credentials": {
        "openAiApi": {
          "id": "iFWZTIW4X2HMAn1v",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"case_id\": \"RFQ-2024-001\",\n    \"category\": \"furniture\",\n\t\"supplier_name\": \"Example Supplier Ltd\",\n\t\"supplier_email\": \"quotes@example.com\",\n\t\"unit_price\": 150.00,\n\t\"delivery_fee\": 25.00,\n\t\"total_price\": 175.00,\n\t\"earliest_delivery_date\": \"2024-06-15\",\n\t\"lead_time_days\": 14,\n\t\"payment_terms\": \"Net 30\",\n\t\"warranty_period\": \"12 months\",\n\t\"sustainability_info\": \"ISO 14001 certified, carbon neutral shipping\",\n\t\"exceptions_assumptions\": \"Price valid for 30 days, subject to material availability\"\n}"
      },
      "id": "29988934-0b1f-4e32-87b3-483e560f4e0e",
      "name": "Quote Data Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -14288,
        4560
      ]
    },
    {
      "parameters": {
        "sendTo": "=nyairo@scio.net",
        "subject": "={{ $json.rfq_emails[0].subject }}",
        "message": "=<!DOCTYPE html> <html> <head>   <meta charset=\"UTF-8\" />   <style>     body {       margin: 0;       padding: 0;       background-color: #f6f7f9;       font-family: Arial, Helvetica, sans-serif;       color: #222222;     }      .container {       max-width: 720px;       margin: 0 auto;       padding: 24px;     }      .card {       background-color: #ffffff;       border: 1px solid #e5e7eb;       border-radius: 10px;       padding: 24px;     }      .header {       border-bottom: 1px solid #e5e7eb;       padding-bottom: 16px;       margin-bottom: 20px;     }      .title {       font-size: 22px;       font-weight: bold;       margin: 0 0 8px 0;       color: #111827;     }      .subtitle {       font-size: 14px;       color: #6b7280;       margin: 0;     }      .section {       margin-top: 24px;     }      .section-title {       font-size: 16px;       font-weight: bold;       margin-bottom: 10px;       color: #111827;     }      .message-body {       font-size: 14px;       line-height: 1.6;       white-space: normal;     }      .info-table {       width: 100%;       border-collapse: collapse;       margin-top: 12px;       font-size: 14px;     }      .info-table th,     .info-table td {       border: 1px solid #e5e7eb;       padding: 10px;       text-align: left;       vertical-align: top;     }      .info-table th {       width: 32%;       background-color: #f9fafb;       font-weight: bold;       color: #374151;     }      .criteria-table {       width: 100%;       border-collapse: collapse;       margin-top: 12px;       font-size: 14px;     }      .criteria-table th,     .criteria-table td {       border: 1px solid #e5e7eb;       padding: 10px;       text-align: left;     }      .criteria-table th {       background-color: #f9fafb;       color: #374151;     }      ul {       margin-top: 8px;       padding-left: 20px;       font-size: 14px;       line-height: 1.6;     }      .footer {       margin-top: 28px;       padding-top: 16px;       border-top: 1px solid #e5e7eb;       font-size: 12px;       color: #6b7280;     }      .reference-box {       background-color: #f9fafb;       border: 1px solid #e5e7eb;       border-radius: 8px;       padding: 12px;       font-size: 14px;       margin-top: 12px;     }      .highlight {       font-weight: bold;       color: #111827;     }   </style> </head>  <body>   <div class=\"container\">     <div class=\"card\">        <div class=\"header\">         <h1 class=\"title\">Request for Quotation</h1>         <p class=\"subtitle\">           RFQ Reference: <span class=\"highlight\">{{ $json.case_id }}</span>         </p>       </div>        <table class=\"info-table\">         <tr>           <th>Supplier</th>           <td>{{ $json.rfq_emails[0].supplier_name }}</td>         </tr>         <tr>           <th>Supplier ID</th>           <td>{{ $json.rfq_emails[0].supplier_id }}</td>         </tr>         <tr>           <th>RFQ Reference</th>           <td>{{ $json.case_id }}</td>         </tr>         <tr>           <th>Quote Submission Deadline</th>           <td>{{ $json.rfq_quote_deadline }}</td>         </tr>       </table>        <div class=\"section\">         <div class=\"section-title\">Message</div>         <div class=\"message-body\">           {{ $json.rfq_emails[0].body_text.replace(/\\n/g, '<br>') }}        </div>       </div>                   <div class=\"footer\">         This RFQ was generated by the Procurement Intake Agent. Please respond by the stated deadline with all requested commercial, delivery, and sustainability information.       </div>      </div>   </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -12112,
        5616
      ],
      "id": "5a6eb5e9-3321-4cde-bbdc-7bae7dd00836",
      "name": "Email Suppliers1",
      "webhookId": "d1dcee26-6eab-420b-ad8b-8d724a773514",
      "credentials": {
        "gmailOAuth2": {
          "id": "fD8VmggKPtaXNY04",
          "name": "Ai (gemini account)"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "nyairo@scio.net"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -16080,
        4320
      ],
      "id": "2ce98aea-5205-4204-bb34-5dd428a3ae0f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "fD8VmggKPtaXNY04",
          "name": "Ai (gemini account)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to upsert (insert or update) extracted quote data to the Quotes database. This ensures quotes are saved without duplicates. Use case_id and supplier_email as unique identifiers.",
        "dataTableId": {
          "__rl": true,
          "value": "WAHDNPbn9zLSanJu",
          "mode": "list",
          "cachedResultName": "QUOTES_DB",
          "cachedResultUrl": "/projects/cFPhnNmamSW061Vq/datatables/WAHDNPbn9zLSanJu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "case_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('case_id', ``, 'string') }}",
            "supplier_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('supplier_name', ``, 'string') }}",
            "supplier_email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('supplier_email', ``, 'string') }}",
            "unit_price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('unit_price', ``, 'number') }}",
            "delivery_fee": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('delivery_fee', ``, 'number') }}",
            "total_price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total_price', ``, 'number') }}",
            "earliest_delivery_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('earliest_delivery_date', ``, 'string') }}",
            "lead_time_days": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_time_days', ``, 'number') }}",
            "payment_terms": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_terms', ``, 'string') }}",
            "warranty_period": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('warranty_period', ``, 'string') }}",
            "sustainability_info": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sustainability_info', ``, 'string') }}",
            "exceptions_assumptions": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('exceptions_assumptions', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "case_id",
              "displayName": "case_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "supplier_name",
              "displayName": "supplier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "supplier_email",
              "displayName": "supplier_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unit_price",
              "displayName": "unit_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "delivery_fee",
              "displayName": "delivery_fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_price",
              "displayName": "total_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "earliest_delivery_date",
              "displayName": "earliest_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_time_days",
              "displayName": "lead_time_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_terms",
              "displayName": "payment_terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "warranty_period",
              "displayName": "warranty_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sustainability_info",
              "displayName": "sustainability_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "exceptions_assumptions",
              "displayName": "exceptions_assumptions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0dd68420-064e-4d16-a569-8d6375e8cc7d",
      "name": "Quotes_DB",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -14448,
        4576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Score all quotes for case: {{ $json.output.case_id }}\nCategory of the item: {{ $json.output.category }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a procurement quote scoring and compliance agent.\n\nYour responsibility is to validate RFQ submission completeness, score supplier quotations, and return a structured procurement evaluation result. Provide a detailed explanation of the selected choice, and why the other choices did not qualify\n\n\n## PROCESS FLOW\n\n### Step 1 — Retrieve RFQ Quotes\nUsing the provided case_id:\n- Query the Quotes Database\n- Retrieve ALL quotation records associated with the case_id\n\nIMPORTANT:\n- The category extracted from the quotation data will be used to retrieve procurement policy rules. If the exact category name is not found in the policy database, use the most similar available category (e.g., 'Furniture' for 'Sustainable Office Furniture')\n\n---\n\n### Step 2 — Retrieve Procurement Policy\nUsing the item category from the quotes:\n- Query the procurement_policy DB tool\n- Retrieve the applicable procurement policy rules for that particular category. Check if sustainability_is_required_fr scoring for that particular category. Factor this in when scoring the submissions.\n\nExtract:\n- min_quotes_required\n- sustainability_required_in_scoring\n\n---\n\n### Step 3 — Validate Minimum RFQ Submission Requirement\nCompare:\n- Number of quote records retrieved from Quotes DB\nVS\n- min_quotes_required from procurement policy\n\nValidation Logic:\n- If total submitted quotes < min_quotes_required:\ncategorize this as  incomplete rfq submission in he recommendation_reason\n\n\nAlso return:\n- case_id\n- quotes_received_count\n- min_quotes_required\n\n\n\nNOTE: To determine the quotes_received_count, only count unique supplier names. Multiple entries from the same supplier count as one quote. Ignore database rows where all pricing fields are Null; do not count them as submissions.\"\n---\n\n### Step 4 — Perform Compliance Validation\nONLY proceed if:\nquotes_received_count >= min_quotes_required\n\nA quote is NON-COMPLIANT if ANY of the following is true:\n- Quote is incomplete\n- Missing required fields:\n  - unit_price\n  - delivery_fee\n  - total_price\n  - payment_terms\n- earliest_delivery_date is after required_date\n- total_price is null\n- payment_terms is null\n\nWork only with the values that are present. If a field is missing, mark that specific quote as NON_COMPLIANT\n\nMark each quote as:\n- COMPLIANT OR NON_COMPLIANT\n\n\nFor each non-compliant quote, provide a specific justification for the failure, identifying exactly which field was missing or which policy threshold was breached\n\n---\n\n### Step 5 — Score Compliant Quotes\nScore COMPLIANT quotes.\n\nUse the following weighted scoring formula:\n\ntotal_score =\n(price_score * 0.35) +\n(delivery_score * 0.20) +\n(sustainability_score * 0.25) +\n(risk_score * 0.10) +\n(payment_terms_score * 0.10)\n\n###Step 6 - Select the winner\nIdentify the winner (the compliant supplier with the highest score).\nGenerate a Detailed Analysis: In the recommendation_reason field, write a 2-3 sentence justification. Compare the winner to the other bidders, highlighting why their specific combination of price, delivery, and sustainability made them the best choice.\nIf no compliant quotes exist, explain why in the recommendation_reason (e.g., \"All 3 submitted quotes failed compliance due to missing warranty and payment terms\").\nIf the RFQ is incomplete, set the reason to \"Awaiting minimum required quotations before a final recommendation can be made.\"\n\n---\n\n## FINAL OUTPUT REQUIREMENTS\n\nFinal output should strictly be a json object"
        }
      },
      "id": "73d718e0-f6be-42fe-8dcb-e3a91b5e129d",
      "name": "Quote Scoring Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -13136,
        4288
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"case_id\": {\n      \"type\": \"string\"\n    },\n    \"is_submission_complete\": {\n      \"type\": \"boolean\"\n    },\n    \"quotes_received_count\": {\n      \"type\": \"integer\"\n    },\n    \"min_quotes_required\": {\n      \"type\": \"integer\"\n    },\n    \"recommended_supplier_name\": {\n      \"type\": [\"string\", \"null\"]\n    },\n    \"recommended_total_price_eur\": {\n      \"type\": \"number\"\n    },\n    \"recommendation_reason\": {\n      \"type\": \"string\",\n      \"description\": \"A detailed analysis justifying the recommendation based on scores.\"\n    },\n    \"scorecard\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"supplier_name\": {\n            \"type\": \"string\"\n          },\n          \"total_price_eur\": {\n            \"type\": \"number\"\n          },\n          \"price_rank\": {\n            \"type\": \"integer\"\n          },\n          \"compliance_status\": {\n            \"type\": \"string\"\n          },\n          \"disqualification_reasons\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"score\": {\n            \"type\": \"integer\"\n          }\n        },\n        \"required\": [\n          \"supplier_name\",\n          \"total_price_eur\",\n          \"price_rank\",\n          \"compliance_status\",\n          \"disqualification_reasons\",\n          \"score\"\n        ],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\n    \"case_id\",\n    \"is_submission_complete\",\n    \"quotes_received_count\",\n    \"min_quotes_required\",\n    \"recommended_supplier_name\",\n    \"recommended_total_price_eur\",\n    \"recommendation_reason\",\n    \"scorecard\"\n  ]\n}"
            }
          }
        }
      },
      "id": "e4caae26-0f56-44b0-bd0c-6255c227566f",
      "name": "OpenAI Model for Scoring",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -13232,
        4528
      ],
      "credentials": {
        "openAiApi": {
          "id": "a4ja82V4nnlunpii",
          "name": "openai"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to retrieve procurement policy rules including spend thresholds, minimum quotes required, and maximum supplier risk scores for a given category.",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "qNcW1MYC3JNWcaOZ",
          "cachedResultName": "procurement_policy",
          "cachedResultUrl": "/projects/cFPhnNmamSW061Vq/datatables/qNcW1MYC3JNWcaOZ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "category",
              "condition": "isNotEmpty"
            }
          ]
        },
        "returnAll": true
      },
      "id": "2b4e82a1-458d-404f-89f8-4e3ae4134ffb",
      "name": "Procurement Policy Tool",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -12976,
        4544
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -14816,
        4336
      ],
      "id": "35e5b29a-68af-4c08-881f-05f49f196f54",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "WAHDNPbn9zLSanJu",
          "mode": "list",
          "cachedResultName": "QUOTES_DB",
          "cachedResultUrl": "/projects/cFPhnNmamSW061Vq/datatables/WAHDNPbn9zLSanJu"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "case_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `pass the case_id value in this filter`, 'string') }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -12864,
        4512
      ],
      "id": "bacfc1a1-6a4e-4f2f-a5a2-8def791948d9",
      "name": "quotes_db"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "21410a62-3531-4df4-a62a-42e3a2136dc4",
              "leftValue": "={{ $json.is_submission_complete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -12480,
        4416
      ],
      "id": "8abace0d-dbef-45ca-888e-91c18c83aa86",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($json.output);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12704,
        4032
      ],
      "id": "a271beb6-a732-4923-b626-6acbb3ca6d64",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## WORKFLOW 1: RFQ Generation\n\n**Purpose:** Process user procurement requests and generate RFQs for approved suppliers\n\n**Flow:**\n1. **Chat Trigger** - User submits procurement request via chat\n2. **Procurement Intake Agent** - Validates request against policy, selects suppliers\n   - Uses Policy DB to check spend thresholds and quote requirements\n   - Uses Supplier DB to find approved vendors\n3. **Parse & Check** - Extracts structured data and validates completeness\n4. **Split Suppliers** - Creates individual items for each selected supplier\n5. **RFQ Generator** - Creates professional RFQ emails for each supplier\n6. **Send Emails** - Dispatches RFQs to suppliers\n\n**Key Features:**\n- Policy compliance validation\n- Risk and sustainability scoring\n- Automated supplier selection",
        "height": 768,
        "width": 944,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -17280,
        5296
      ],
      "typeVersion": 1,
      "id": "e3e599c7-6ef6-4e2a-b1b1-82b6b0b8ad35",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RFQ Email Generation\n\n**This section:**\n- Generates professional RFQ emails\n- Includes all required quote fields\n- Formats HTML email with case details\n- Sends to each selected supplier\n\n**Output:** Suppliers receive structured RFQ requests with clear submission requirements",
        "height": 864,
        "width": 1120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -12896,
        5280
      ],
      "typeVersion": 1,
      "id": "91d932c9-2aa7-4bcd-8bc6-03116d257f75",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "##  WORKFLOW 2: Quote Processing & Scoring\n\n**Purpose:** Automatically extract supplier quotes from emails, validate compliance, and recommend the best supplier\n\n**Flow:**\n1. **Gmail Trigger** - Monitors inbox for supplier quote emails\n2. **Extract PDF** - Extracts text from PDF attachments\n3. **Quote Extraction Agent** - Parses email/PDF and saves to database\n4. **Quote Scoring Agent** - Evaluates all quotes for a case\n5. **Decision** - Routes based on submission completeness\n\n**Key Features:**\n- Automated quote data extraction\n- Policy-based compliance validation\n- Multi-criteria scoring (price, delivery, sustainability)\n- Detailed recommendation with justification",
        "height": 720,
        "width": 1088,
        "color": 6
      },
      "id": "a0d4bdf0-aca2-4c4d-aa24-10c790411ec6",
      "name": "Sticky Note: Quote Processing Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16688,
        3968
      ]
    },
    {
      "parameters": {
        "content": "## Quote Extraction\n\n**Agent Task:**\nExtract structured quote data from supplier emails and PDF attachments\n\n**Data Extracted:**\n- Case ID, supplier details\n- Pricing (unit, delivery, total)\n- Delivery terms and timeline\n- Payment terms & warranty\n- Sustainability information\n\n**Output:** Saves to Quotes Database using AI tool",
        "height": 912,
        "width": 848,
        "color": 3
      },
      "id": "906338fd-4a9f-4fd1-a873-e16f88eda458",
      "name": "Sticky Note: Quote Extraction",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -14944,
        3840
      ]
    },
    {
      "parameters": {
        "content": "##  Scoring & Compliance Validation\n\n**Agent Task:**\nRetrieve all quotes for a case, validate compliance, and score suppliers\n\n**Process:**\n1. Retrieve quotes from database\n2. Get policy rules for category\n3. Check minimum quote requirement\n4. Validate compliance (required fields, dates)\n5. Score compliant quotes using weighted formula:\n   - Price (35%)\n   - Delivery (20%)\n   - Sustainability (25%)\n   - Risk (10%)\n   - Payment terms (10%)\n\n**Output:** Recommended supplier with detailed justification",
        "height": 944,
        "width": 1104,
        "color": 2
      },
      "id": "d6c41d58-fe3a-416f-996d-bacf5d6255a1",
      "name": "Sticky Note: Scoring & Compliance",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -13360,
        3808
      ]
    },
    {
      "parameters": {
        "content": "## Procurement Intake Agent\n\n**Responsibilities:**\n- Extract procurement request details\n- Classify into categories\n- Validate against policy rules\n- Filter and select approved suppliers\n- Apply risk and sustainability scoring\n\n**Database Tools:**\n- Policy DB: Spend thresholds, quote requirements\n- Supplier DB: Approved vendors by category/location\n\n**Outputs:**\n- Clarification request (if incomplete)\n- Structured RFQ with selected suppliers (if complete)",
        "height": 752,
        "width": 800,
        "color": 3
      },
      "id": "c816e593-caf2-4ac0-a1f7-4a3674796b33",
      "name": "Sticky Note: Intake Agent Details",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -15680,
        5328
      ]
    },
    {
      "parameters": {
        "content": "## Decision Point\n\n**Checks:** Is status = \"ready_for_rfq\"?\n\n**TRUE Path:**\nRequest is complete → Split suppliers → Generate RFQs → Send emails\n\n**FALSE Path:**\nRequest incomplete → Return to user asking for missing information\n\n**Why:** Ensures only validated, policy-compliant requests proceed to RFQ generation",
        "height": 784,
        "width": 688,
        "color": 7
      },
      "id": "c31a8a50-635c-4a67-a20a-0bfb0b306468",
      "name": "Sticky Note: Decision Point",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -14080,
        5296
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process this quotation request\n {{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a Procurement Intake and Supplier Selection Agent. Your goal is to transform a raw user request into a structured procurement case by validating information against company policy and selecting the best-fit suppliers.\n\n\nYour will process a user's procurement request and either:\n1. ask for missing information, or\n2. create a structured sourcing intake and select suitable target suppliers.\n\n\n###Execution Steps:\n\n#### **Step 1: Input Extraction & Classification**\nAnalyze the user's input and extract the following entities:\n- Item Description: Detailed description of what is being requested.\n- Category: Classify into: `office_furniture`, `it_hardware`, `professional_services`, `facilities`, or `marketing`.\n- Quantity: Total number of units.\n- Delivery Location: Target city or office.\n- Required Date: The deadline or timing if mentioned by the user.\n- Budget: Estimated spend value in EUR.\n- Sustainability Preference: Boolean (True/False) based on user keywords (e.g., \"green\", \"sustainable\", \"eco-friendly\").\n\n#### **Step 2: Completeness Check**\nEvaluate if the request contains all mandatory data points. A request is **COMPLETE** only if it contains: *Item description, Quantity, Delivery Location, and Budget.*\n- If incomplete: Stop processing and proceed to Step 5 (Output A).\n- If complete: Proceed to Step 3.\n\n#### **Step 3: Policy Retrieval & Data Sourcing**\nExecute tool calls in this specific order:\n1.  **Tool: `procurement_policy`**: Retrieve the rules for the identified **Category**. Note the spend thresholds and the minimum number of quotes required.\n2.  **Tool: `supplier_master`**: Retrieve all suppliers associated with the **Category** and **Delivery Location**.\n\n#### **Step 4: Supplier Selection & Filtering**\nEvaluate the retrieved suppliers against these strict logic rules:\n1.  **Status Check:** Exclude any supplier whose `approved_status` is not \"approved\".\n2.  **Risk Check:** Exclude suppliers with a `risk_score` higher than the `max_supplier_risk_score` defined in the policy.\n3.  **Sustainability:** If the user has a sustainability preference, prioritize suppliers with the highest `sustainability_score`.\n4.  **Selection:** Select number of supplier based on the quotes needed for that itme category.\n5.  **Exclusion Tracking:** Identify which suppliers were filtered out and the specific policy reason for their exclusion (e.g., \"Risk score exceeded policy limit\").\n\n#### **Step 5: Final Output Generation**\nGenerate a single JSON response based on the outcome of the steps above:\n\n---\n\n### **JSON Output Schemas:**\n\nScenario A: Clarification Required (Information is missing)\n{\n  \"status\": \"clarification_required\",\n  \"message_to_user\": \"I have started your request for [item], but I need a few more details to comply with our policy. Specifically, I need: [missing fields]. So far I have recorded [extracted details].\"\n}\n\nScenario B: Request Complete (Ready for RFQ)\n\n{\n  \"status\": \"ready_for_rfq\",\n  \"case_title\": \"\",\n  \"selected_suppliers\": [\n    {\n      \"supplier_id\": \"\",\n      \"supplier_name\": \"\",\n      \"supplier_email\": \"\",\n      \"preferred_supplier\": false,\n      \"risk_score\": 0,\n      \"sustainability_score\": 0,\n      \"selection_reason\": \"Specific reason why this supplier fits the request and policy.\"\n    }\n  ],\n  \"excluded_suppliers\": \"String containing the list of suppliers and the specific policy reasons for their exclusion (e.g. 'Supplier X: Risk score too high; Supplier Y: Not an approved vendor')\",\n  \"message_to_user\": \"I have successfully validated your request against the [Category] policy. I have identified [X] eligible suppliers who meet our risk and sustainability requirements. I am now ready to generate the RFQs.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -15424,
        5728
      ],
      "id": "4015e5d2-c6bc-4870-b55c-55ef26170c89",
      "name": "Requisition Processing Agent"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "sessionId": "e3056ae72afa49968a16afcc6a28eef0",
          "action": "sendMessage",
          "chatInput": "We need 80 ergonomic office chairs for the Berlin office by end of next month. Budget is around €18k. Prefer sustainable suppliers."
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "supplier_id": "SUP-B",
          "supplier_name": "GreenWorkplace GmbH",
          "supplier_email": "rfq@greenworkplace.example",
          "preferred_supplier": true,
          "risk_score": 22,
          "sustainability_score": 94,
          "selection_reason": "Preferred sustainable supplier with low risk score and high sustainability score, approved to deliver in Berlin."
        }
      },
      {
        "json": {
          "supplier_id": "SUP-D",
          "supplier_name": "OfficeLux GmbH",
          "supplier_email": "tenders@officelux.example",
          "preferred_supplier": false,
          "risk_score": 35,
          "sustainability_score": 74,
          "selection_reason": "Approved supplier with good sustainability score and acceptable risk score, able to deliver to Berlin."
        }
      },
      {
        "json": {
          "supplier_id": "SUP-A",
          "supplier_name": "BudgetOffice EU",
          "supplier_email": "quotes@budgetoffice.example",
          "preferred_supplier": false,
          "risk_score": 42,
          "sustainability_score": 62,
          "selection_reason": "Approved supplier with acceptable risk and sustainability scores, capable of delivery to Berlin."
        }
      }
    ],
    "parse json1": [
      {
        "json": {
          "status": "ready_for_rfq",
          "case_title": "Procurement of 80 Ergonomic Office Chairs for Berlin Office",
          "selected_suppliers": [
            {
              "supplier_id": "SUP-B",
              "supplier_name": "GreenWorkplace GmbH",
              "supplier_email": "rfq@greenworkplace.example",
              "preferred_supplier": true,
              "risk_score": 22,
              "sustainability_score": 94,
              "selection_reason": "Preferred sustainable supplier with low risk score and high sustainability score, approved to deliver in Berlin."
            },
            {
              "supplier_id": "SUP-D",
              "supplier_name": "OfficeLux GmbH",
              "supplier_email": "tenders@officelux.example",
              "preferred_supplier": false,
              "risk_score": 35,
              "sustainability_score": 74,
              "selection_reason": "Approved supplier with good sustainability score and acceptable risk score, able to deliver to Berlin."
            },
            {
              "supplier_id": "SUP-A",
              "supplier_name": "BudgetOffice EU",
              "supplier_email": "quotes@budgetoffice.example",
              "preferred_supplier": false,
              "risk_score": 42,
              "sustainability_score": 62,
              "selection_reason": "Approved supplier with acceptable risk and sustainability scores, capable of delivery to Berlin."
            }
          ],
          "excluded_suppliers": "SUP-E: Not an approved vendor",
          "message_to_user": "I have successfully validated your request against the office_furniture policy. I have identified 3 eligible suppliers who meet our risk and sustainability requirements. I am now ready to generate the RFQs."
        }
      }
    ],
    "Quote Extraction Agent": [
      {
        "json": {
          "output": {
            "case_id": "CASE-2024-058",
            "category": "office furniture",
            "supplier_name": "GreenWorkplace GmbH",
            "supplier_email": "rfq@greenworkplace.example",
            "unit_price": 330,
            "delivery_fee": 600,
            "total_price": 17100,
            "earliest_delivery_date": "2024-07-26",
            "lead_time_days": 18,
            "payment_terms": "30 days net from invoice date",
            "warranty_period": "36 months",
            "sustainability_info": "FSC-certified wood components, recycled aluminium where applicable, repair and take-back program, CO2-neutral delivery within Germany",
            "exceptions_assumptions": "None. Pricing assumes standard unloading access at Berlin Headquarters during business hours."
          }
        }
      }
    ],
    "Requisition Processing Agent": [
      {
        "json": {
          "output": "{\n  \"status\": \"ready_for_rfq\",\n  \"case_title\": \"Procurement of 80 Ergonomic Office Chairs for Berlin Office\",\n  \"selected_suppliers\": [\n    {\n      \"supplier_id\": \"SUP-B\",\n      \"supplier_name\": \"GreenWorkplace GmbH\",\n      \"supplier_email\": \"rfq@greenworkplace.example\",\n      \"preferred_supplier\": true,\n      \"risk_score\": 22,\n      \"sustainability_score\": 94,\n      \"selection_reason\": \"Preferred sustainable supplier with low risk score and high sustainability score, approved to deliver in Berlin.\"\n    },\n    {\n      \"supplier_id\": \"SUP-D\",\n      \"supplier_name\": \"OfficeLux GmbH\",\n      \"supplier_email\": \"tenders@officelux.example\",\n      \"preferred_supplier\": false,\n      \"risk_score\": 35,\n      \"sustainability_score\": 74,\n      \"selection_reason\": \"Approved supplier with good sustainability score and acceptable risk score, able to deliver to Berlin.\"\n    },\n    {\n      \"supplier_id\": \"SUP-A\",\n      \"supplier_name\": \"BudgetOffice EU\",\n      \"supplier_email\": \"quotes@budgetoffice.example\",\n      \"preferred_supplier\": false,\n      \"risk_score\": 42,\n      \"sustainability_score\": 62,\n      \"selection_reason\": \"Approved supplier with acceptable risk and sustainability scores, capable of delivery to Berlin.\"\n    }\n  ],\n  \"excluded_suppliers\": \"SUP-E: Not an approved vendor\",\n  \"message_to_user\": \"I have successfully validated your request against the office_furniture policy. I have identified 3 eligible suppliers who meet our risk and sustainability requirements. I am now ready to generate the RFQs.\"\n}"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-05-13T10:54:57.363Z",
      "createdAt": "2026-05-13T10:54:57.363Z",
      "role": "workflow:owner",
      "workflowId": "S5ThaTKpWvZrDJ6C",
      "projectId": "cFPhnNmamSW061Vq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-06-05T11:15:18.535Z",
      "createdAt": "2026-06-05T11:15:18.535Z",
      "id": "lpKbdKUVN0x05XLt",
      "name": "procurement-agents"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-05T11:15:21.689Z",
  "versionId": "f86a7766-8afa-4844-a1ab-2bbfc29956bf"
}