workflows/Untagged/Budget_Calculator_v1_small/Budget_Calculator_v1_small.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-19T06:23:30.256Z",
    "createdAt": "2026-05-19T06:23:30.256Z",
    "versionId": "06bbc476-df81-4602-881f-df1255395e1e",
    "workflowId": "0YMVGuhuu4HRxHB0",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/1Of9IHd1Kls2NyQEf1o48NfO8rRyoCHOU",
            "mode": "url"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "a3b10c31-b08f-4ee5-ab87-c0fe7940aa93",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "qFXNjPFWwXTiV6Sz",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          240,
          0
        ],
        "id": "95acfc73-1567-4cbb-bb17-50637fd65b24",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "qFXNjPFWwXTiV6Sz",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          480,
          0
        ],
        "id": "aeb6f098-77fb-4729-8da7-f586549c998b",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are an experienced international development project manager and staffing lead.\n\nYou receive the text of a Terms of Reference (ToR) document for a consulting assignment.\nYour task is to extract key project metadata and a structured list of expert roles needed for the project.\n\nIMPORTANT RULES\n- Output MUST be a SINGLE valid JSON object.\n- No markdown. No commentary. No extra keys.\n- Use null when unknown.\n- Use arrays ([]) for lists when empty.\n- Be conservative: do not invent facts not present in the ToR.\n- You may infer reasonable role structure (roles list) if ToR implies positions, but do not hallucinate numbers of days or years.\n\nYOU MUST MATCH CLIENT FACTORS (IF TOOL IS AVAILABLE)\nIf you have access to a Google Sheets tool for the \"Client_Factors\" tab, you MUST:\n1) Retrieve all rows from Client_Factors.\n2) Compare ToR text to each row’s client_name_pattern field (semicolon-separated substrings).\n3) If a substring occurs in the ToR (case-insensitive), that row is a match.\n4) If multiple match, pick the most specific (longest/clearest) match.\n5) If none match, set client_key/client_group/client_buying_factor/client_default_margin = null and keep client_type as a reasonable guess (or null).\n\nOUTPUT JSON SCHEMA (EXACT)\nReturn a single JSON object with exactly these keys:\n\n{\n  \"project_id\": string | null,\n  \"project_name\": string | null,\n  \"client_name_raw\": string | null,\n  \"client_key\": string | null,\n  \"client_type\": \"GIZ\" | \"UN\" | \"INGO\" | \"Foundation\" | \"Private\" | null,\n  \"client_group\": string | null,\n  \"client_buying_factor\": number | null,\n  \"client_default_margin\": number | null,\n  \"country\": string | null,\n  \"location_group\": \"HIC\" | \"MIC\" | \"LIC\" | \"REMOTE\" | null,\n  \"file_id\": string | null,\n  \"file_name\": string | null,\n  \"roles\": [\n    {\n      \"role_id\": string,\n      \"role_title\": string | null,\n      \"role_level_required\": \"Junior\" | \"Intermediate\" | \"Senior\" | \"Leader\" | null,\n      \"role_days\": number | null,\n      \"role_years_required\": number | null,\n      \"role_skill_area\": string | null,\n      \"role_languages_required\": string[],\n      \"role_scarcity_ids\": string[]\n    }\n  ]\n}\n\nFIELD RULES (PROJECT)\n- project_id:\n  - If ToR has a reference number / project code, use it.\n  - Else derive a short ID from file name (e.g., \"PRJ_\" + a short slug).\n  - Else null.\n- project_name:\n  - Prefer a clear project title. Else null.\n- client_name_raw:\n  - Client as written in the ToR. Must be same entity as issuing the ToR\n- client_type:\n  - Use one of: GIZ, UN, INGO, Foundation, Private, or null if unsure.\n- client_buying_factor and client_default_margin:\n  - If Client_Factors match found: use numeric values from that row.\n  - Else: null (do not guess numbers).\n- country:\n  - Primary country of assignment. If multiple, use primary or null.\n- location_group:\n  - HIC/MIC/LIC/REMOTE if clearly inferred. Else null.\n- file_id, file_name:\n  - Copy from n8n input variables if provided.\n\nFIELD RULES (ROLES)\nCreate one role entry per distinct position implied/required by the ToR (ignore purely administrative roles).\n\nFor each role:\n- role_id:\n  - Stable short ID. Prefer ToR names like \"TEAM_LEADER\", \"KEY_EXPERT_1\", etc.\n  - Must be unique within roles[], no spaces.\n  - If not in ToR, use \"R1\",\"R2\",...\n- role_title:\n  - Role title as in ToR.\n- role_level_required:\n  - Map ToR seniority language to:\n    - Junior (0–3 yrs)\n    - Intermediate (3–7 yrs)\n    - Senior (7–15 yrs)\n    - Expert (15+ yrs)\n  - If unclear: null.\n  - NOTE: This is the ToR’s stated/implicit seniority. Another sheet formula will later derive a “years-based” level, so do not overthink it.\n- role_days:\n  - If ToR specifies LOE in days, use that.\n  - If a range, use the midpoint.\n  - If only months given, estimate days if ToR clearly implies workdays (otherwise null).\n  - If unknown: null.\n- role_years_required (NEW):\n  - Extract the minimum years of relevant experience required for this role.\n  - Examples:\n    - \"at least 7 years\" -> 7\n    - \"7-10 years\" -> 7\n    - \"minimum 10 years\" -> 10\n    - \"10+ years\" -> 10\n  - If ToR does not specify years for this role: null.\n  - If ToR specifies only general experience for the whole team and not per role, apply it to the roles only if clearly intended (otherwise null).\n- role_skill_area:\n  - Short phrase describing key thematic/functional area (e.g., \"M&E\", \"governance\", \"investment readiness\").\n- role_languages_required:\n  - List languages explicitly required or clearly implied (e.g., [\"English\"], [\"English\",\"French\"]).\n  - If none: [].\n- role_scarcity_ids:\n  - Only include IDs if ToR clearly requires them. Use only these values:\n    - \"FC\" (fragile/conflict context experience)\n    - \"ADV_QUANT\" (advanced quantitative methods)\n    - \"NICHE_LANG\" (niche languages)\n    - \"CROSS_CUT\" (highly cross-cutting profile)\n    - \"ECON\" (strong economist profile)\n  - If none: [].\n\nINPUT YOU RECEIVE FROM n8n\nToR text (verbatim):\n{{ $json.text }}\n\nFILE_ID: {{ $('Download file').item.json.id }}\nFILE_NAME: {{ $('Download file').item.json.name }}\n\nOUTPUT REQUIREMENTS\n- Return ONLY the JSON object described above.\n- No markdown. No code fences. No explanation.\n- Ensure valid JSON (double quotes, no trailing commas).\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          688,
          0
        ],
        "id": "2c775e24-9c73-43c6-ab07-509e0c623c35",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          688,
          208
        ],
        "id": "d76e22f8-0bf4-4ae5-9efc-172df0fccdb8",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "a4ja82V4nnlunpii",
            "name": "openai"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Code node: \"Code in JavaScript\" (UPDATED)\n// Adds:\n// - years_experience_required (from LLM)\n// - role_level_years (formula, LLM does NOT judge)\n// - margin_min, margin_max (formula)\n// Also updates buy/sell base-rate lookups to use years-based level if present.\n\nfunction tryParseJson(str) {\n  if (typeof str !== \"string\") return null;\n  try { const obj = JSON.parse(str); if (obj && typeof obj === \"object\") return obj; } catch {}\n  return null;\n}\n\nfunction extractAgentJson(raw) {\n  if (raw && typeof raw === \"object\" && Array.isArray(raw.roles)) return raw;\n  const candidates = [];\n  if (typeof raw === \"string\") candidates.push(raw);\n  if (raw?.output) candidates.push(raw.output);\n  if (raw?.text) candidates.push(raw.text);\n  if (raw?.message) candidates.push(raw.message);\n  if (raw?.choices) raw.choices.forEach(c => candidates.push(c?.message?.content || \"\"));\n  if (raw?.json) candidates.push(raw.json);\n  if (raw?.data) candidates.push(raw.data);\n\n  for (const c of candidates) {\n    const parsed = tryParseJson(c);\n    if (parsed?.roles) return parsed;\n  }\n  throw new Error(\"Could not parse AI Agent output (roles missing).\");\n}\n\nfunction inferLocationGroup(countryRaw) {\n  if (!countryRaw) return null;\n  const c = String(countryRaw).toLowerCase();\n  if (c.includes(\"germany\") || c.includes(\"france\") || c.includes(\"uk\")) return \"HIC\";\n  if (c.includes(\"nigeria\") || c.includes(\"kenya\") || c.includes(\"india\")) return \"MIC\";\n  if (c.includes(\"south sudan\") || c.includes(\"somalia\") || c.includes(\"haiti\")) return \"LIC\";\n  return null;\n}\n\nfunction computeScarcityTier(ids, level) {\n  const set = new Set((ids || []).map(String));\n  if (set.has(\"CROSS_CUT\") || set.has(\"NICHE_LANG\")) return \"S4\";\n  if (set.has(\"ADV_QUANT\") || set.has(\"ECON\") || set.has(\"FC\")) return \"S3\";\n  if (!set.size && (level === \"Junior\" || level === \"Intermediate\")) return \"S1\";\n  return \"S2\";\n}\n\nfunction computeValueTier(title, level) {\n  const t = (title || \"\").toLowerCase();\n  if (t.includes(\"team lead\") || t.includes(\"project manager\") || t.includes(\"key expert\")) return \"V3\";\n  if (level === \"Expert\" || level === \"Senior\") return \"V2\";\n  if (level === \"Junior\" || level === \"Intermediate\") return \"V1\";\n  return \"V2\";\n}\n\nconst proj = extractAgentJson($json);\n\nconst projectId = proj.project_id || null;\nconst projectName = proj.project_name || null;\nconst clientName = proj.client_name_raw || null;\nconst clientDefaultMargin = proj.client_default_margin ?? null;\nconst country = proj.country || null;\nconst locationGroup = proj.location_group || inferLocationGroup(country);\nconst roles = proj.roles || [];\n\nif (!roles.length) throw new Error(\"No roles[] found.\");\n\nconst makeFormula = (expr) => `=${expr}`;\n\n// Column letters based on your current structure:\n// AD = target_sell (col 30)\n// AE = years_experience_required (new col 31)\n// AF = role_level_years (new col 32)\n// AG = margin_min (new col 33)\n// AH = margin_max (new col 34)\n\nconst items = roles.map((r) => {\n  const roleId = r.role_id || \"R?\";\n  const roleTitle = r.role_title || \"\";\n  const roleLevel = r.role_level_required || \"\";\n  const roleDays = r.role_days || \"\";\n  const yearsReq = (r.role_years_required != null && !isNaN(Number(r.role_years_required)))\n    ? Number(r.role_years_required)\n    : \"\";\n\n  const scarcity = computeScarcityTier(r.role_scarcity_ids, roleLevel);\n  const value = computeValueTier(roleTitle, roleLevel);\n\n  const scarcityLabel =\n    scarcity === \"S1\" ? \"S1 - Readily Available\" :\n    scarcity === \"S2\" ? \"S2 - Baseline\" :\n    scarcity === \"S3\" ? \"S3 - Scarce\" :\n    \"S4 - Very Scarce\";\n\n  const valueLabel = `Value tier ${value} multiplier`;\n\n  // ✅ NEW: role_level_years formula (Leader >10, Expert >6, Senior >3, else Junior)\n  const fRoleLevelYears = makeFormula(\n    `IF(INDEX($AE:$AE,ROW())=\"\",\"\",` +\n      `IF(INDEX($AE:$AE,ROW())>10,\"Leader\",` +\n        `IF(INDEX($AE:$AE,ROW())>6,\"Expert\",` +\n          `IF(INDEX($AE:$AE,ROW())>3,\"Senior\",\"Junior\")` +\n        `)` +\n      `)` +\n    `)`\n  );\n\n  // Effective level for rate lookup:\n  // Prefer years-based level (AF) if present, else fallback to ToR level (J).\n  // Map Leader -> Expert (unless you add BUY_MIN_LEADER etc. later).\n  const effLevel =\n    `IF(INDEX($AF:$AF,ROW())<>\"\",INDEX($AF:$AF,ROW()),INDEX($J:$J,ROW()))`;\n  const normLevel =\n    `IF(UPPER(${effLevel})=\"LEADER\",\"Expert\",${effLevel})`;\n\n  // Existing formulas (updated to use normLevel)\n  const fClientBuying = makeFormula(\n    `IF(INDEX($C:$C,ROW())=\"\",` +\n      `INDEX(Parameters!$B:$B,MATCH(\"CLIENT_FACTOR_DEFAULT\",Parameters!$A:$A,0)),` +\n      `IFERROR(` +\n        `INDEX(Parameters!$B:$B,MATCH(\"CLIENT_FACTOR_\"&INDEX($C:$C,ROW()),Parameters!$A:$A,0)),` +\n        `INDEX(Parameters!$B:$B,MATCH(\"CLIENT_FACTOR_DEFAULT\",Parameters!$A:$A,0))` +\n      `)` +\n    `)`\n  );\n\n  const fLocationFactor = makeFormula(\n    `IF(INDEX($L:$L,ROW())=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B,` +\n        `MATCH(\"LOCATION_FACTOR_\" & TRIM(LEFT(INDEX($L:$L,ROW()),FIND(\" \",INDEX($L:$L,ROW()) & \" \")-1)),Parameters!$A:$A,0)` +\n      `)` +\n    `)`\n  );\n\n  // ✅ UPDATED: base rates now use normLevel (years-based if present)\n  const fBuyMin = makeFormula(\n    `IF(${effLevel}=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(\"BUY_MIN_\" & UPPER(${normLevel}), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fBuyMax = makeFormula(\n    `IF(${effLevel}=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(\"BUY_MAX_\" & UPPER(${normLevel}), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fSellMin = makeFormula(\n    `IF(${effLevel}=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(\"SELLING_BASE_\" & UPPER(${normLevel}), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fCommitment = makeFormula(\n    `IF(INDEX($Q:$Q,ROW())=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(` +\n        `IF(INDEX($Q:$Q,ROW())>100,\"COMMITMENT_GT_100\",` +\n          `IF(INDEX($Q:$Q,ROW())>=50,\"COMMITMENT_50_100\",` +\n            `IF(INDEX($Q:$Q,ROW())>=20,\"COMMITMENT_20_50\",` +\n              `IF(INDEX($Q:$Q,ROW())>=10,\"COMMITMENT_10_20\",\"COMMITMENT_LT_10\")` +\n            `)` +\n          `)` +\n        `), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fScarcityFactor = makeFormula(\n    `IF(INDEX($S:$S,ROW())=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(\"SCARCITY_\" & TRIM(LEFT(INDEX($S:$S,ROW()),FIND(\" \",INDEX($S:$S,ROW()) & \" \")-1)), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fValueFactor = makeFormula(\n    `IF(INDEX($U:$U,ROW())=\"\", \"\",` +\n      `IFERROR(` +\n        `INDEX(Parameters!$B:$B, MATCH(\"VALUE_\" & TRIM(REGEXEXTRACT(INDEX($U:$U,ROW()),\"(V[1-4])\")), Parameters!$A:$A, 0))` +\n      `, 1.0)` +\n    `)`\n  );\n\n  const fAdjMinBuy = makeFormula(`INDEX($N:$N,ROW())*INDEX($R:$R,ROW())*INDEX($T:$T,ROW())*INDEX($V:$V,ROW())`);\n  const fAdjMaxBuy = makeFormula(`INDEX($O:$O,ROW())*INDEX($R:$R,ROW())*INDEX($T:$T,ROW())*INDEX($V:$V,ROW())`);\n  const fTargetBuy = makeFormula(`(INDEX($W:$W,ROW())+INDEX($X:$X,ROW()))/2`);\n  const fMinCost = makeFormula(`INDEX($W:$W,ROW())*INDEX($Q:$Q,ROW())`);\n  const fMaxCost = makeFormula(`INDEX($X:$X,ROW())*INDEX($Q:$Q,ROW())`);\n  const fMinSell = makeFormula(`INDEX($P:$P,ROW())`);\n  const fAdjSell = makeFormula(`INDEX($AB:$AB,ROW())*INDEX($M:$M,ROW())*INDEX($T:$T,ROW())*INDEX($V:$V,ROW())`);\n  const fTargetSell = makeFormula(`MAX(INDEX($AB:$AB,ROW()),INDEX($AC:$AC,ROW()))`);\n\n  // ✅ NEW: margins (computed from target_sell vs adjusted buy rates)\n  // min margin = sell vs worst-case buy (adjusted_max_buy)\n  const fMarginMin = makeFormula(\n    `IF(OR(INDEX($AD:$AD,ROW())=\"\",INDEX($X:$X,ROW())=\"\"),\"\", INDEX($AD:$AD,ROW())/INDEX($X:$X,ROW())-1)`\n  );\n  // max margin = sell vs best-case buy (adjusted_min_buy)\n  const fMarginMax = makeFormula(\n    `IF(OR(INDEX($AD:$AD,ROW())=\"\",INDEX($W:$W,ROW())=\"\"),\"\", INDEX($AD:$AD,ROW())/INDEX($W:$W,ROW())-1)`\n  );\n\n  return {\n    json: {\n      project_id: projectId,\n      project_name: projectName,\n      client_name: clientName,\n      language_req: (r.role_languages_required || []).join(\", \"),\n      country: country,\n\n      role_id: roleId,\n      role_title: roleTitle,\n\n      client_buying_factor: fClientBuying,\n      client_default_margin: clientDefaultMargin,\n\n      role_level: roleLevel,\n      \"role_category/family\": null,\n\n      location_group: locationGroup,\n      location_factor: fLocationFactor,\n\n      buying_rate_min: fBuyMin,\n      buying_rate_max: fBuyMax,\n      selling_rate_min: fSellMin,\n\n      role_days: roleDays,\n      commitment_adj: fCommitment,\n\n      scarcity_tier: scarcityLabel,\n      scarcity_factor: fScarcityFactor,\n      value_tier: valueLabel,\n      value_factor: fValueFactor,\n\n      adjusted_min_buy: fAdjMinBuy,\n      adjusted_max_buy: fAdjMaxBuy,\n      target_buy: fTargetBuy,\n      min_cost: fMinCost,\n      max_cost: fMaxCost,\n      min_sell: fMinSell,\n      adjusted_sell: fAdjSell,\n      target_sell: fTargetSell,\n\n      // ✅ NEW columns\n      years_experience_required: yearsReq,\n      role_level_years: fRoleLevelYears,\n      margin_min: fMarginMin,\n      margin_max: fMarginMax,\n    }\n  };\n});\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          0
        ],
        "id": "6f393bfb-2f0e-4588-9aa1-d6c42d59fd4b",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ",
            "mode": "list",
            "cachedResultName": "Expert_Profile_Match_MVP",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Parameters",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          832,
          336
        ],
        "id": "12da753d-1fe2-4791-8c9a-91042b4caecd",
        "name": "Get row(s) in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "aEc5lPRiYjsh4sIp",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "create",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ",
            "mode": "url"
          },
          "title": "=Team_{{ $json.project_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1344,
          0
        ],
        "id": "109c3901-e3f9-43d3-91d7-3758659d99d3",
        "name": "Create sheet",
        "executeOnce": true,
        "alwaysOutputData": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "aEc5lPRiYjsh4sIp",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Code node: \"Build header row\"  (UPDATED)\n// Adds years + years-based level + margin columns at the end.\n\nconst columns = [\n  \"project_id\",\n  \"project_name\",\n  \"client_name\",\n  \"language_req\",\n  \"country\",\n\n  \"role_id\",\n  \"role_title\",\n  \"years_experience_required\",\n  \"role_level_years\",\n  \"client_buying_factor\",\n  \"client_default_margin\",\n\n  \"role_level\",\n  \"role_category/family\",\n  \"location_group\",\n  \"location_factor\",\n\n  \"buying_rate_min\",\n  \"buying_rate_max\",\n  \"selling_rate_min\",\n\n  \"role_days\",\n  \"commitment_adj\",\n\n  \"scarcity_tier\",\n  \"scarcity_factor\",\n  \"value_tier\",\n  \"value_factor\",\n\n  \"adjusted_min_buy\",\n  \"adjusted_max_buy\",\n  \"target_buy\",\n  \"min_cost\",\n  \"max_cost\",\n  \"min_sell\",\n  \"adjusted_sell\",\n  \"target_sell\",\n  \"margin_min\",\n  \"margin_max\",\n];\n\nconst rowTemplate = {};\nfor (const c of columns) rowTemplate[c] = c;\n\nreturn [{ json: rowTemplate }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          0
        ],
        "id": "fd05d3e8-0fe2-4135-8602-4bd1e51061b4",
        "name": "Build header row"
      },
      {
        "parameters": {
          "jsCode": "// Attach the newly created sheetId from \"Create sheet\"\n// to each role item produced by \"Code in JavaScript\".\n\n// sheet info: current input (from Create sheet)\nconst sheetInfo = $json;\nconst sheetId = $('Create sheet').first().json.sheetId;\n\n// all role items from the flattening node\nconst roleItems = $items('Code in JavaScript');\n\nif (!roleItems.length) {\n  throw new Error('No role items found from \"Code in JavaScript\".');\n}\n\n// For each role, add sheetId\nconst out = roleItems.map(item => {\n  return {\n    json: {\n      ...item.json,\n      sheetId\n    }\n  };\n});\n\nreturn out;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          0
        ],
        "id": "2a49818e-a151-40bc-99a7-28bb79cbe389",
        "name": "Attach sheetID"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Create sheet').item.json.sheetId }}",
            "mode": "id"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "project_id": "={{ $json.project_id }}",
              "project_name": "={{ $json.project_name }}",
              "client_name": "=",
              "client_buying_factor": "={{ $json.client_buying_factor }}",
              "client_default_margin": "={{ $json.client_default_margin }}",
              "country": "={{ $json.country }}",
              "location_group": "={{ $json.location_group }}",
              "role_id": "={{ $json.role_id }}",
              "role_title": "={{ $json.role_title }}",
              "role_level": "={{ $json.role_level }}",
              "role_days": "={{ $json.role_days }}",
              "language_req": "={{ $json.language_req }}",
              "location_factor": "={{ $json.location_factor }}",
              "commitment_adj": "={{ $json.commitment_adj }}",
              "scarcity_tier": "={{ $json.scarcity_tier }}",
              "scarcity_factor": "={{ $json.scarcity_factor }}",
              "value_tier": "={{ $json.value_tier }}",
              "value_factor": "={{ $json.value_factor }}",
              "adjusted_min_buy": "={{ $json.adjusted_min_buy }}",
              "adjusted_max_buy": "={{ $json.adjusted_max_buy }}",
              "target_buy": "={{ $json.target_buy }}",
              "min_cost": "={{ $json.min_cost }}",
              "max_cost": "={{ $json.max_cost }}",
              "min_sell": "={{ $json.min_sell }}",
              "adjusted_sell": "={{ $json.adjusted_sell }}",
              "target_sell": "={{ $json.target_sell }}",
              "buying_rate_min": "={{ $json.buying_rate_min }}",
              "buying_rate_max": "={{ $json.buying_rate_max }}",
              "selling_rate_min": "={{ $json.selling_rate_min }}",
              "margin_min": "={{ $json.margin_min }}",
              "margin_max": "={{ $json.margin_max }}",
              "role_level_years": "={{ $json.role_level_years }}",
              "years_experience_required": "={{ $json.years_experience_required }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "project_id",
                "displayName": "project_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "project_name",
                "displayName": "project_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "client_name",
                "displayName": "client_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "language_req",
                "displayName": "language_req",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "country",
                "displayName": "country",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "role_id",
                "displayName": "role_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "role_title",
                "displayName": "role_title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "client_buying_factor",
                "displayName": "client_buying_factor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "client_default_margin",
                "displayName": "client_default_margin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "role_level",
                "displayName": "role_level",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "role_category/family",
                "displayName": "role_category/family",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "location_group",
                "displayName": "location_group",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "location_factor",
                "displayName": "location_factor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "buying_rate_min",
                "displayName": "buying_rate_min",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "buying_rate_max",
                "displayName": "buying_rate_max",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "selling_rate_min",
                "displayName": "selling_rate_min",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "role_days",
                "displayName": "role_days",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "commitment_adj",
                "displayName": "commitment_adj",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "scarcity_tier",
                "displayName": "scarcity_tier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "scarcity_factor",
                "displayName": "scarcity_factor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "value_tier",
                "displayName": "value_tier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "value_factor",
                "displayName": "value_factor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "adjusted_min_buy",
                "displayName": "adjusted_min_buy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "adjusted_max_buy",
                "displayName": "adjusted_max_buy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "target_buy",
                "displayName": "target_buy",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "min_cost",
                "displayName": "min_cost",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "max_cost",
                "displayName": "max_cost",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "min_sell",
                "displayName": "min_sell",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "adjusted_sell",
                "displayName": "adjusted_sell",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "target_sell",
                "displayName": "target_sell",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "years_experience_required",
                "displayName": "years_experience_required",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "role_level_years",
                "displayName": "role_level_years",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "margin_min",
                "displayName": "margin_min",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "margin_max",
                "displayName": "margin_max",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2880,
          0
        ],
        "id": "67c172b4-cf99-42aa-8d51-7178a72a04c2",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "aEc5lPRiYjsh4sIp",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Create sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create sheet": {
        "main": [
          [
            {
              "node": "Build header row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build header row": {
        "main": [
          [
            {
              "node": "Attach sheetID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attach sheetID": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          []
        ]
      }
    },
    "authors": " Scio Network ",
    "name": null,
    "description": null
  },
  "activeVersionId": "06bbc476-df81-4602-881f-df1255395e1e",
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "Build header row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build header row": {
      "main": [
        [
          {
            "node": "Attach sheetID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach sheetID": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-29T11:14:39.652Z",
  "id": "0YMVGuhuu4HRxHB0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Budget_Calculator_v1_small",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1Of9IHd1Kls2NyQEf1o48NfO8rRyoCHOU",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a3b10c31-b08f-4ee5-ab87-c0fe7940aa93",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qFXNjPFWwXTiV6Sz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "95acfc73-1567-4cbb-bb17-50637fd65b24",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qFXNjPFWwXTiV6Sz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "aeb6f098-77fb-4729-8da7-f586549c998b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an experienced international development project manager and staffing lead.\n\nYou receive the text of a Terms of Reference (ToR) document for a consulting assignment.\nYour task is to extract key project metadata and a structured list of expert roles needed for the project.\n\nIMPORTANT RULES\n- Output MUST be a SINGLE valid JSON object.\n- No markdown. No commentary. No extra keys.\n- Use null when unknown.\n- Use arrays ([]) for lists when empty.\n- Be conservative: do not invent facts not present in the ToR.\n- You may infer reasonable role structure (roles list) if ToR implies positions, but do not hallucinate numbers of days or years.\n\nYOU MUST MATCH CLIENT FACTORS (IF TOOL IS AVAILABLE)\nIf you have access to a Google Sheets tool for the \"Client_Factors\" tab, you MUST:\n1) Retrieve all rows from Client_Factors.\n2) Compare ToR text to each row’s client_name_pattern field (semicolon-separated substrings).\n3) If a substring occurs in the ToR (case-insensitive), that row is a match.\n4) If multiple match, pick the most specific (longest/clearest) match.\n5) If none match, set client_key/client_group/client_buying_factor/client_default_margin = null and keep client_type as a reasonable guess (or null).\n\nOUTPUT JSON SCHEMA (EXACT)\nReturn a single JSON object with exactly these keys:\n\n{\n  \"project_id\": string | null,\n  \"project_name\": string | null,\n  \"client_name_raw\": string | null,\n  \"client_key\": string | null,\n  \"client_type\": \"GIZ\" | \"UN\" | \"INGO\" | \"Foundation\" | \"Private\" | null,\n  \"client_group\": string | null,\n  \"client_buying_factor\": number | null,\n  \"client_default_margin\": number | null,\n  \"country\": string | null,\n  \"location_group\": \"HIC\" | \"MIC\" | \"LIC\" | \"REMOTE\" | null,\n  \"file_id\": string | null,\n  \"file_name\": string | null,\n  \"roles\": [\n    {\n      \"role_id\": string,\n      \"role_title\": string | null,\n      \"role_level_required\": \"Junior\" | \"Intermediate\" | \"Senior\" | \"Leader\" | null,\n      \"role_days\": number | null,\n      \"role_years_required\": number | null,\n      \"role_skill_area\": string | null,\n      \"role_languages_required\": string[],\n      \"role_scarcity_ids\": string[]\n    }\n  ]\n}\n\nFIELD RULES (PROJECT)\n- project_id:\n  - If ToR has a reference number / project code, use it.\n  - Else derive a short ID from file name (e.g., \"PRJ_\" + a short slug).\n  - Else null.\n- project_name:\n  - Prefer a clear project title. Else null.\n- client_name_raw:\n  - Client as written in the ToR. Must be same entity as issuing the ToR\n- client_type:\n  - Use one of: GIZ, UN, INGO, Foundation, Private, or null if unsure.\n- client_buying_factor and client_default_margin:\n  - If Client_Factors match found: use numeric values from that row.\n  - Else: null (do not guess numbers).\n- country:\n  - Primary country of assignment. If multiple, use primary or null.\n- location_group:\n  - HIC/MIC/LIC/REMOTE if clearly inferred. Else null.\n- file_id, file_name:\n  - Copy from n8n input variables if provided.\n\nFIELD RULES (ROLES)\nCreate one role entry per distinct position implied/required by the ToR (ignore purely administrative roles).\n\nFor each role:\n- role_id:\n  - Stable short ID. Prefer ToR names like \"TEAM_LEADER\", \"KEY_EXPERT_1\", etc.\n  - Must be unique within roles[], no spaces.\n  - If not in ToR, use \"R1\",\"R2\",...\n- role_title:\n  - Role title as in ToR.\n- role_level_required:\n  - Map ToR seniority language to:\n    - Junior (0–3 yrs)\n    - Intermediate (3–7 yrs)\n    - Senior (7–15 yrs)\n    - Expert (15+ yrs)\n  - If unclear: null.\n  - NOTE: This is the ToR’s stated/implicit seniority. Another sheet formula will later derive a “years-based” level, so do not overthink it.\n- role_days:\n  - If ToR specifies LOE in days, use that.\n  - If a range, use the midpoint.\n  - If only months given, estimate days if ToR clearly implies workdays (otherwise null).\n  - If unknown: null.\n- role_years_required (NEW):\n  - Extract the minimum years of relevant experience required for this role.\n  - Examples:\n    - \"at least 7 years\" -> 7\n    - \"7-10 years\" -> 7\n    - \"minimum 10 years\" -> 10\n    - \"10+ years\" -> 10\n  - If ToR does not specify years for this role: null.\n  - If ToR specifies only general experience for the whole team and not per role, apply it to the roles only if clearly intended (otherwise null).\n- role_skill_area:\n  - Short phrase describing key thematic/functional area (e.g., \"M&E\", \"governance\", \"investment readiness\").\n- role_languages_required:\n  - List languages explicitly required or clearly implied (e.g., [\"English\"], [\"English\",\"French\"]).\n  - If none: [].\n- role_scarcity_ids:\n  - Only include IDs if ToR clearly requires them. Use only these values:\n    - \"FC\" (fragile/conflict context experience)\n    - \"ADV_QUANT\" (advanced quantitative methods)\n    - \"NICHE_LANG\" (niche languages)\n    - \"CROSS_CUT\" (highly cross-cutting profile)\n    - \"ECON\" (strong economist profile)\n  - If none: [].\n\nINPUT YOU RECEIVE FROM n8n\nToR text (verbatim):\n{{ $json.text }}\n\nFILE_ID: {{ $('Download file').item.json.id }}\nFILE_NAME: {{ $('Download file').item.json.name }}\n\nOUTPUT REQUIREMENTS\n- Return ONLY the JSON object described above.\n- No markdown. No code fences. No explanation.\n- Ensure valid JSON (double quotes, no trailing commas).\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        688,
        0
      ],
      "id": "2c775e24-9c73-43c6-ab07-509e0c623c35",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        208
      ],
      "id": "d76e22f8-0bf4-4ae5-9efc-172df0fccdb8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a4ja82V4nnlunpii",
          "name": "openai"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Code in JavaScript\" (UPDATED)\n// Adds:\n// - years_experience_required (from LLM)\n// - role_level_years (formula, LLM does NOT judge)\n// - margin_min, margin_max (formula)\n// Also updates buy/sell base-rate lookups to use years-based level if present.\n\nfunction tryParseJson(str) {\n  if (typeof str !== \"string\") return null;\n  try { const obj = JSON.parse(str); if (obj && typeof obj === \"object\") return obj; } catch {}\n  return null;\n}\n\nfunction extractAgentJson(raw) {\n  if (raw && typeof raw === \"object\" && Array.isArray(raw.roles)) return raw;\n  const candidates = [];\n  if (typeof raw === \"string\") candidates.push(raw);\n  if (raw?.output) candidates.push(raw.output);\n  if (raw?.text) candidates.push(raw.text);\n  if (raw?.message) candidates.push(raw.message);\n  if (raw?.choices) raw.choices.forEach(c => candidates.push(c?.message?.content || \"\"));\n  if (raw?.json) candidates.push(raw.json);\n  if (raw?.data) candidates.push(raw.data);\n\n  for (const c of candidates) {\n    const parsed = tryParseJson(c);\n    if (parsed?.roles) return parsed;\n  }\n  throw new Error(\"Could not parse AI Agent output (roles missing).\");\n}\n\nfunction inferLocationGroup(countryRaw) {\n  if (!countryRaw) return null;\n  const c = String(countryRaw).toLowerCase();\n  if (c.includes(\"germany\") || c.includes(\"france\") || c.includes(\"uk\")) return \"HIC\";\n  if (c.includes(\"nigeria\") || c.includes(\"kenya\") || c.includes(\"india\")) return \"MIC\";\n  if (c.includes(\"south sudan\") || c.includes(\"somalia\") || c.includes(\"haiti\")) return \"LIC\";\n  return null;\n}\n\nfunction computeScarcityTier(ids, level) {\n  const set = new Set((ids || []).map(String));\n  if (set.has(\"CROSS_CUT\") || set.has(\"NICHE_LANG\")) return \"S4\";\n  if (set.has(\"ADV_QUANT\") || set.has(\"ECON\") || set.has(\"FC\")) return \"S3\";\n  if (!set.size && (level === \"Junior\" || level === \"Intermediate\")) return \"S1\";\n  return \"S2\";\n}\n\nfunction computeValueTier(title, level) {\n  const t = (title || \"\").toLowerCase();\n  if (t.includes(\"team lead\") || t.includes(\"project manager\") || t.includes(\"key expert\")) return \"V3\";\n  if (level === \"Expert\" || level === \"Senior\") return \"V2\";\n  if (level === \"Junior\" || level === \"Intermediate\") return \"V1\";\n  return \"V2\";\n}\n\nconst proj = extractAgentJson($json);\n\nconst projectId = proj.project_id || null;\nconst projectName = proj.project_name || null;\nconst clientName = proj.client_name_raw || null;\nconst clientDefaultMargin = proj.client_default_margin ?? null;\nconst country = proj.country || null;\nconst locationGroup = proj.location_group || inferLocationGroup(country);\nconst roles = proj.roles || [];\n\nif (!roles.length) throw new Error(\"No roles[] found.\");\n\nconst makeFormula = (expr) => `=${expr}`;\n\n// Column letters based on your current structure:\n// AD = target_sell (col 30)\n// AE = years_experience_required (new col 31)\n// AF = role_level_years (new col 32)\n// AG = margin_min (new col 33)\n// AH = margin_max (new col 34)\n\nconst items = roles.map((r) => {\n  const roleId = r.role_id || \"R?\";\n  const roleTitle = r.role_title || \"\";\n  const roleLevel = r.role_level_required || \"\";\n  const roleDays = r.role_days || \"\";\n  const yearsReq = (r.role_years_required != null && !isNaN(Number(r.role_years_required)))\n    ? Number(r.role_years_required)\n    : \"\";\n\n  const scarcity = computeScarcityTier(r.role_scarcity_ids, roleLevel);\n  const value = computeValueTier(roleTitle, roleLevel);\n\n  const scarcityLabel =\n    scarcity === \"S1\" ? \"S1 - Readily Available\" :\n    scarcity === \"S2\" ? \"S2 - Baseline\" :\n    scarcity === \"S3\" ? \"S3 - Scarce\" :\n    \"S4 - Very Scarce\";\n\n  const valueLabel = `Value tier ${value} multiplier`;\n\n  // ✅ NEW: role_level_years formula (Leader >10, Expert >6, Senior >3, else Junior)\n  const fRoleLevelYears = makeFormula(\n    `IF(INDEX($AE:$AE,ROW())=\"\",\"\",` +\n      `IF(INDEX($AE:$AE,ROW())>10,\"Leader\",` +\n        `IF(INDEX($AE:$AE,ROW())>6,\"Expert\",` +\n          `IF(INDEX($AE:$AE,ROW())>3,\"Senior\",\"Junior\")` +\n        `)` +\n      `)` +\n    `)`\n  );\n\n  // Effective level for rate lookup:\n  // Prefer years-based level (AF) if present, else fallback to ToR level (J).\n  // Map Leader -> Expert (unless you add BUY_MIN_LEADER etc. later).\n  const effLevel =\n    `IF(INDEX($AF:$AF,ROW())<>\"\",INDEX($AF:$AF,ROW()),INDEX($J:$J,ROW()))`;\n  const normLevel =\n    `IF(UPPER(${effLevel})=\"LEADER\",\"Expert\",${effLevel})`;\n\n  // Existing formulas (updated to use normLevel)\n  const fClientBuying = makeFormula(\n    `IF(INDEX($C:$C,ROW())=\"\",` +\n      `INDEX(Parameters!$B:$B,MATCH(\"CLIENT_FACTOR_DEFAULT\",Parameters!$A:$A,0)),` +\n      `IFERROR(` +\n        `INDEX(Parameters!$B:$B,MATCH(\"CLIENT_FACTOR_\"&INDEX($C:$C,ROW()),Parameters!$A:$A,0)),` +\n        `INDEX(Parameters!$B:$B,MATCH(\"CLIENT_FACTOR_DEFAULT\",Parameters!$A:$A,0))` +\n      `)` +\n    `)`\n  );\n\n  const fLocationFactor = makeFormula(\n    `IF(INDEX($L:$L,ROW())=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B,` +\n        `MATCH(\"LOCATION_FACTOR_\" & TRIM(LEFT(INDEX($L:$L,ROW()),FIND(\" \",INDEX($L:$L,ROW()) & \" \")-1)),Parameters!$A:$A,0)` +\n      `)` +\n    `)`\n  );\n\n  // ✅ UPDATED: base rates now use normLevel (years-based if present)\n  const fBuyMin = makeFormula(\n    `IF(${effLevel}=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(\"BUY_MIN_\" & UPPER(${normLevel}), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fBuyMax = makeFormula(\n    `IF(${effLevel}=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(\"BUY_MAX_\" & UPPER(${normLevel}), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fSellMin = makeFormula(\n    `IF(${effLevel}=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(\"SELLING_BASE_\" & UPPER(${normLevel}), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fCommitment = makeFormula(\n    `IF(INDEX($Q:$Q,ROW())=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(` +\n        `IF(INDEX($Q:$Q,ROW())>100,\"COMMITMENT_GT_100\",` +\n          `IF(INDEX($Q:$Q,ROW())>=50,\"COMMITMENT_50_100\",` +\n            `IF(INDEX($Q:$Q,ROW())>=20,\"COMMITMENT_20_50\",` +\n              `IF(INDEX($Q:$Q,ROW())>=10,\"COMMITMENT_10_20\",\"COMMITMENT_LT_10\")` +\n            `)` +\n          `)` +\n        `), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fScarcityFactor = makeFormula(\n    `IF(INDEX($S:$S,ROW())=\"\", \"\",` +\n      `INDEX(Parameters!$B:$B, MATCH(\"SCARCITY_\" & TRIM(LEFT(INDEX($S:$S,ROW()),FIND(\" \",INDEX($S:$S,ROW()) & \" \")-1)), Parameters!$A:$A, 0))` +\n    `)`\n  );\n\n  const fValueFactor = makeFormula(\n    `IF(INDEX($U:$U,ROW())=\"\", \"\",` +\n      `IFERROR(` +\n        `INDEX(Parameters!$B:$B, MATCH(\"VALUE_\" & TRIM(REGEXEXTRACT(INDEX($U:$U,ROW()),\"(V[1-4])\")), Parameters!$A:$A, 0))` +\n      `, 1.0)` +\n    `)`\n  );\n\n  const fAdjMinBuy = makeFormula(`INDEX($N:$N,ROW())*INDEX($R:$R,ROW())*INDEX($T:$T,ROW())*INDEX($V:$V,ROW())`);\n  const fAdjMaxBuy = makeFormula(`INDEX($O:$O,ROW())*INDEX($R:$R,ROW())*INDEX($T:$T,ROW())*INDEX($V:$V,ROW())`);\n  const fTargetBuy = makeFormula(`(INDEX($W:$W,ROW())+INDEX($X:$X,ROW()))/2`);\n  const fMinCost = makeFormula(`INDEX($W:$W,ROW())*INDEX($Q:$Q,ROW())`);\n  const fMaxCost = makeFormula(`INDEX($X:$X,ROW())*INDEX($Q:$Q,ROW())`);\n  const fMinSell = makeFormula(`INDEX($P:$P,ROW())`);\n  const fAdjSell = makeFormula(`INDEX($AB:$AB,ROW())*INDEX($M:$M,ROW())*INDEX($T:$T,ROW())*INDEX($V:$V,ROW())`);\n  const fTargetSell = makeFormula(`MAX(INDEX($AB:$AB,ROW()),INDEX($AC:$AC,ROW()))`);\n\n  // ✅ NEW: margins (computed from target_sell vs adjusted buy rates)\n  // min margin = sell vs worst-case buy (adjusted_max_buy)\n  const fMarginMin = makeFormula(\n    `IF(OR(INDEX($AD:$AD,ROW())=\"\",INDEX($X:$X,ROW())=\"\"),\"\", INDEX($AD:$AD,ROW())/INDEX($X:$X,ROW())-1)`\n  );\n  // max margin = sell vs best-case buy (adjusted_min_buy)\n  const fMarginMax = makeFormula(\n    `IF(OR(INDEX($AD:$AD,ROW())=\"\",INDEX($W:$W,ROW())=\"\"),\"\", INDEX($AD:$AD,ROW())/INDEX($W:$W,ROW())-1)`\n  );\n\n  return {\n    json: {\n      project_id: projectId,\n      project_name: projectName,\n      client_name: clientName,\n      language_req: (r.role_languages_required || []).join(\", \"),\n      country: country,\n\n      role_id: roleId,\n      role_title: roleTitle,\n\n      client_buying_factor: fClientBuying,\n      client_default_margin: clientDefaultMargin,\n\n      role_level: roleLevel,\n      \"role_category/family\": null,\n\n      location_group: locationGroup,\n      location_factor: fLocationFactor,\n\n      buying_rate_min: fBuyMin,\n      buying_rate_max: fBuyMax,\n      selling_rate_min: fSellMin,\n\n      role_days: roleDays,\n      commitment_adj: fCommitment,\n\n      scarcity_tier: scarcityLabel,\n      scarcity_factor: fScarcityFactor,\n      value_tier: valueLabel,\n      value_factor: fValueFactor,\n\n      adjusted_min_buy: fAdjMinBuy,\n      adjusted_max_buy: fAdjMaxBuy,\n      target_buy: fTargetBuy,\n      min_cost: fMinCost,\n      max_cost: fMaxCost,\n      min_sell: fMinSell,\n      adjusted_sell: fAdjSell,\n      target_sell: fTargetSell,\n\n      // ✅ NEW columns\n      years_experience_required: yearsReq,\n      role_level_years: fRoleLevelYears,\n      margin_min: fMarginMin,\n      margin_max: fMarginMax,\n    }\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "6f393bfb-2f0e-4588-9aa1-d6c42d59fd4b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ",
          "mode": "list",
          "cachedResultName": "Expert_Profile_Match_MVP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Parameters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        832,
        336
      ],
      "id": "12da753d-1fe2-4791-8c9a-91042b4caecd",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aEc5lPRiYjsh4sIp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ",
          "mode": "url"
        },
        "title": "=Team_{{ $json.project_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        0
      ],
      "id": "109c3901-e3f9-43d3-91d7-3758659d99d3",
      "name": "Create sheet",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aEc5lPRiYjsh4sIp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Build header row\"  (UPDATED)\n// Adds years + years-based level + margin columns at the end.\n\nconst columns = [\n  \"project_id\",\n  \"project_name\",\n  \"client_name\",\n  \"language_req\",\n  \"country\",\n\n  \"role_id\",\n  \"role_title\",\n  \"years_experience_required\",\n  \"role_level_years\",\n  \"client_buying_factor\",\n  \"client_default_margin\",\n\n  \"role_level\",\n  \"role_category/family\",\n  \"location_group\",\n  \"location_factor\",\n\n  \"buying_rate_min\",\n  \"buying_rate_max\",\n  \"selling_rate_min\",\n\n  \"role_days\",\n  \"commitment_adj\",\n\n  \"scarcity_tier\",\n  \"scarcity_factor\",\n  \"value_tier\",\n  \"value_factor\",\n\n  \"adjusted_min_buy\",\n  \"adjusted_max_buy\",\n  \"target_buy\",\n  \"min_cost\",\n  \"max_cost\",\n  \"min_sell\",\n  \"adjusted_sell\",\n  \"target_sell\",\n  \"margin_min\",\n  \"margin_max\",\n];\n\nconst rowTemplate = {};\nfor (const c of columns) rowTemplate[c] = c;\n\nreturn [{ json: rowTemplate }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ],
      "id": "fd05d3e8-0fe2-4135-8602-4bd1e51061b4",
      "name": "Build header row"
    },
    {
      "parameters": {
        "jsCode": "// Attach the newly created sheetId from \"Create sheet\"\n// to each role item produced by \"Code in JavaScript\".\n\n// sheet info: current input (from Create sheet)\nconst sheetInfo = $json;\nconst sheetId = $('Create sheet').first().json.sheetId;\n\n// all role items from the flattening node\nconst roleItems = $items('Code in JavaScript');\n\nif (!roleItems.length) {\n  throw new Error('No role items found from \"Code in JavaScript\".');\n}\n\n// For each role, add sheetId\nconst out = roleItems.map(item => {\n  return {\n    json: {\n      ...item.json,\n      sheetId\n    }\n  };\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ],
      "id": "2a49818e-a151-40bc-99a7-28bb79cbe389",
      "name": "Attach sheetID"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QZYVMhNs7R-MhQQkzuSV3C5sPYiGpQ8qCJxIney2WMQ",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.project_id }}",
            "project_name": "={{ $json.project_name }}",
            "client_name": "=",
            "client_buying_factor": "={{ $json.client_buying_factor }}",
            "client_default_margin": "={{ $json.client_default_margin }}",
            "country": "={{ $json.country }}",
            "location_group": "={{ $json.location_group }}",
            "role_id": "={{ $json.role_id }}",
            "role_title": "={{ $json.role_title }}",
            "role_level": "={{ $json.role_level }}",
            "role_days": "={{ $json.role_days }}",
            "language_req": "={{ $json.language_req }}",
            "location_factor": "={{ $json.location_factor }}",
            "commitment_adj": "={{ $json.commitment_adj }}",
            "scarcity_tier": "={{ $json.scarcity_tier }}",
            "scarcity_factor": "={{ $json.scarcity_factor }}",
            "value_tier": "={{ $json.value_tier }}",
            "value_factor": "={{ $json.value_factor }}",
            "adjusted_min_buy": "={{ $json.adjusted_min_buy }}",
            "adjusted_max_buy": "={{ $json.adjusted_max_buy }}",
            "target_buy": "={{ $json.target_buy }}",
            "min_cost": "={{ $json.min_cost }}",
            "max_cost": "={{ $json.max_cost }}",
            "min_sell": "={{ $json.min_sell }}",
            "adjusted_sell": "={{ $json.adjusted_sell }}",
            "target_sell": "={{ $json.target_sell }}",
            "buying_rate_min": "={{ $json.buying_rate_min }}",
            "buying_rate_max": "={{ $json.buying_rate_max }}",
            "selling_rate_min": "={{ $json.selling_rate_min }}",
            "margin_min": "={{ $json.margin_min }}",
            "margin_max": "={{ $json.margin_max }}",
            "role_level_years": "={{ $json.role_level_years }}",
            "years_experience_required": "={{ $json.years_experience_required }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "language_req",
              "displayName": "language_req",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role_id",
              "displayName": "role_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role_title",
              "displayName": "role_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_buying_factor",
              "displayName": "client_buying_factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_default_margin",
              "displayName": "client_default_margin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role_level",
              "displayName": "role_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role_category/family",
              "displayName": "role_category/family",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location_group",
              "displayName": "location_group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location_factor",
              "displayName": "location_factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "buying_rate_min",
              "displayName": "buying_rate_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "buying_rate_max",
              "displayName": "buying_rate_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "selling_rate_min",
              "displayName": "selling_rate_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role_days",
              "displayName": "role_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "commitment_adj",
              "displayName": "commitment_adj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scarcity_tier",
              "displayName": "scarcity_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scarcity_factor",
              "displayName": "scarcity_factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "value_tier",
              "displayName": "value_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "value_factor",
              "displayName": "value_factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adjusted_min_buy",
              "displayName": "adjusted_min_buy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adjusted_max_buy",
              "displayName": "adjusted_max_buy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "target_buy",
              "displayName": "target_buy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "min_cost",
              "displayName": "min_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "max_cost",
              "displayName": "max_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "min_sell",
              "displayName": "min_sell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adjusted_sell",
              "displayName": "adjusted_sell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "target_sell",
              "displayName": "target_sell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "years_experience_required",
              "displayName": "years_experience_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role_level_years",
              "displayName": "role_level_years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "margin_min",
              "displayName": "margin_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "margin_max",
              "displayName": "margin_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2880,
        0
      ],
      "id": "67c172b4-cf99-42aa-8d51-7178a72a04c2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aEc5lPRiYjsh4sIp",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-29T11:14:39.656Z",
      "createdAt": "2025-12-29T11:14:39.656Z",
      "role": "workflow:owner",
      "workflowId": "0YMVGuhuu4HRxHB0",
      "projectId": "cFPhnNmamSW061Vq"
    }
  ],
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-06-05T11:24:52Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-19T06:23:30.255Z",
  "versionId": "06bbc476-df81-4602-881f-df1255395e1e"
}