workflows/ministries-webscraped-wf/SUR_website_Ingestion_v1_UA_Min_v1_final(C)/SUR_website_Ingestion_v1_UA_Min_v1_final(C).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-05T11:23:19.742Z",
    "createdAt": "2026-06-05T11:23:19.742Z",
    "versionId": "743ec69d-7c66-4600-8ac3-5073b8987029",
    "workflowId": "1vIQvkpheRzfysqo",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.name_en }}",
                      "rightValue": "Ministry of Digital Transformation",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c576bfb2-d416-4180-875f-a5128ccf767e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ministry of Digital Transformation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "15a2c1c2-11a0-4045-ac41-d8c770783837",
                      "leftValue": "={{ $json.name_en }}",
                      "rightValue": "Ministry of Economy",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ministry of Economy"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4344ca4c-deab-4a2a-8c31-9570d3256971",
                      "leftValue": "={{ $json.name_en }}",
                      "rightValue": "Ministry of Finance",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ministry of Finance"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "6eed03eb-6bfd-4e38-928c-6f9bd73e5856",
                      "leftValue": "={{ $json.name_en }}",
                      "rightValue": "Ministry of Energy",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ministry of Energy"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c9040c6d-bee5-4f2f-b4e1-c5847cfb8aff",
                      "leftValue": "={{ $json.name_en }}",
                      "rightValue": "Ministry of Justice",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Ministry of Justice"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -6384,
          624
        ],
        "id": "8fefa1dc-df66-41cc-a8b2-c4c27ebb107f",
        "name": "Switch"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"targetUrl\": \"{{ $json.website_url }}\"\n}\n ",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -6160,
          864
        ],
        "id": "2bd44eb9-1c67-4fc1-9807-3bff38a506fc",
        "name": "HTTP Request6",
        "retryOnFail": true,
        "notesInFlow": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"targetUrl\": \"{{ $json.website_url }}\"\n}\n ",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -6160,
          672
        ],
        "id": "c2ed01e6-fee3-427e-963a-188cbefd7d9d",
        "name": "MoF",
        "retryOnFail": true,
        "notesInFlow": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"targetUrl\": \"{{ $json.website_url }}\"\n}\n ",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -6160,
          480
        ],
        "id": "a70ae4d3-3a1b-4190-a6f0-c97249d9c979",
        "name": "MoE",
        "retryOnFail": true,
        "notesInFlow": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"targetUrl\":\"{{ $json.website_url }}\"\n}\n ",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -6160,
          288
        ],
        "id": "efab6e43-d86d-44b3-bc6d-794a54febfb6",
        "name": "MoDtr",
        "retryOnFail": true,
        "notesInFlow": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"targetUrl\": \"{{ $json.website_url }}\"\n}\n ",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -6160,
          1056
        ],
        "id": "28c16bc0-a3a1-4232-9753-f05e1ee4d98c",
        "name": "MoJ",
        "retryOnFail": true,
        "notesInFlow": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "tableId": "articles",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "summary_en",
                "fieldValue": "={{ $json.output[0].content[0].text.summary_en }}"
              },
              {
                "fieldId": "source_url",
                "fieldValue": "={{ $json.output[0].content[0].text.source_url }}"
              },
              {
                "fieldId": "primary_sector",
                "fieldValue": "={{ Array.isArray($json.primary_sector) ? $json.primary_sector : [$json.primary_sector] }}"
              },
              {
                "fieldId": "summary_en",
                "fieldValue": "={{ $json.output[0].content[0].text.summary_en }}"
              },
              {
                "fieldId": "published_date",
                "fieldValue": "={{ $json.output[0].content[0].text.published_date }}"
              },
              {
                "fieldId": "source_url",
                "fieldValue": "={{ $json.output[0].content[0].text.source_url }}"
              },
              {
                "fieldId": "summary_de",
                "fieldValue": "={{ $json.output[0].content[0].text.summary_de }}"
              },
              {
                "fieldId": "title_de",
                "fieldValue": "={{ $json.output[0].content[0].text.title_de }}"
              },
              {
                "fieldId": "title_en",
                "fieldValue": "={{ $json.output[0].content[0].text.title_en }}"
              },
              {
                "fieldId": "source_url",
                "fieldValue": "={{ $json.output[0].content[0].text.source_url }}"
              },
              {
                "fieldId": "title_uk",
                "fieldValue": "={{ $json.output[0].content[0].text.title_en }}"
              },
              {
                "fieldId": "article_type",
                "fieldValue": "news"
              },
              {
                "fieldId": "summary_uk",
                "fieldValue": "={{ $json.output[0].content[0].text.title_uk }}"
              },
              {
                "fieldId": "n8n_content_hash",
                "fieldValue": "={{ $('Code in JavaScript5').item.json.n8n_content_hash }}"
              },
              {
                "fieldId": "source_id",
                "fieldValue": "={{ $json.output[0].content[0].text.source_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -3904,
          656
        ],
        "id": "6c14c491-72a4-4035-9d85-054fdd833466",
        "name": "Create a row2",
        "credentials": {
          "supabaseApi": {
            "id": "MlU51CIejkM7G5Fa",
            "name": "Supabase account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const crypto = require(\"crypto\");\n\n/* =========================\n   PLACEHOLDER INPUTS (for testing)\n   ========================= */\nconst PLACEHOLDER_URL = \"$input.first().json.url\";\nconst PLACEHOLDER_TITLE = \"$input.first().json.title\";\nconst PLACEHOLDER_SUMMARY = \"$input.first().json.content\";\n\n/* =========================\n   HELPERS\n   ========================= */\nfunction normalizeWhitespace(input) {\n  return String(input || \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction canonicalUrl(url) {\n  try {\n    const u = new URL(String(url || \"\").trim());\n    const DROP_PARAMS = new Set([\n      \"utm_source\", \"utm_medium\", \"utm_campaign\", \"utm_term\", \"utm_content\",\n      \"fbclid\", \"gclid\", \"igshid\",\n      \"mc_cid\", \"mc_eid\",\n      \"at_medium\", \"at_campaign\", \"at_custom1\", \"at_custom2\", \"at_custom3\"\n    ]);\n    [...u.searchParams.keys()].forEach(key => {\n      if (DROP_PARAMS.has(key.toLowerCase())) u.searchParams.delete(key);\n    });\n    const sortedParams = [...u.searchParams.entries()].sort(([a], [b]) => a.localeCompare(b));\n    u.search = \"\";\n    for (const [k, v] of sortedParams) u.searchParams.append(k, v);\n    u.pathname = u.pathname.replace(/\\/+$/, \"\");\n    return u.toString();\n  } catch {\n    return String(url || \"\").trim();\n  }\n}\n\nfunction sha256Hex(input) {\n  return crypto.createHash(\"sha256\").update(input, \"utf8\").digest(\"hex\");\n}\n\n/**\n * Parse common UA/RU textual dates (e.g., \"15 Січня 2026\") into ISO.\n * Returns ISO string (UTC midnight) or null if can't parse.\n */\n/**\n * Parse common UA/RU textual and numeric dates.\n * Handles ambiguity between DD/MM and MM/DD by checking against current time.\n */\nfunction parseUaRuDateToISO(raw) {\n  if (!raw) return null;\n\n  // 1. Handle Date objects or timestamps immediately\n  if (raw instanceof Date && !isNaN(raw.getTime())) return raw.toISOString();\n  if (typeof raw === \"number\") {\n    const d = new Date(raw);\n    return isNaN(d.getTime()) ? null : d.toISOString();\n  }\n\n  let s = String(raw).trim();\n  if (!s) return null;\n\n  const now = new Date();\n\n  // 2. Map UA + RU month names (Unambiguous)\n  const monthMap = new Map([\n    [\"січня\", 1], [\"січень\", 1], [\"лютого\", 2], [\"лютий\", 2],\n    [\"березня\", 3], [\"березень\", 3], [\"квітня\", 4], [\"квітень\", 4],\n    [\"травня\", 5], [\"травень\", 5], [\"червня\", 6], [\"червень\", 6],\n    [\"липня\", 7], [\"липень\", 7], [\"серпня\", 8], [\"серпень\", 8],\n    [\"вересня\", 9], [\"вересень\", 9], [\"жовтня\", 10], [\"жовтень\", 10],\n    [\"листопада\", 11], [\"листопад\", 11], [\"грудня\", 12], [\"грудень\", 12],\n    [\"января\", 1], [\"январь\", 1], [\"февраля\", 2], [\"февраль\", 2],\n    [\"марта\", 3], [\"март\", 3], [\"апреля\", 4], [\"апрель\", 4],\n    [\"мая\", 5], [\"май\", 5], [\"июня\", 6], [\"июнь\", 6],\n    [\"июля\", 7], [\"июль\", 7], [\"августа\", 8], [\"август\", 8],\n    [\"сентября\", 9], [\"сентябрь\", 9], [\"октября\", 10], [\"октябрь\", 10],\n    [\"ноября\", 11], [\"ноябрь\", 11], [\"декабря\", 12], [\"декабрь\", 12],\n  ]);\n\n  const lower = s.toLowerCase().replace(/\\u00A0/g, \" \").replace(/\\bр\\.?\\b/gi, \"\").trim();\n\n  // 3. Handle Textual Dates (e.g., \"15 Січня 2026\") - These are unambiguous\n  const m1 = lower.match(/(\\d{1,2})\\s*[-./]?\\s*([a-z\\u0400-\\u04ff]+)\\s*[-./]?\\s*(\\d{4})(?:\\s+(\\d{1,2}):(\\d{2}))?/i);\n  if (m1) {\n    const day = parseInt(m1[1], 10);\n    const month = monthMap.get(m1[2]);\n    const year = parseInt(m1[3], 10);\n    if (month) {\n      const d = new Date(Date.UTC(year, month - 1, day, m1[4]||0, m1[5]||0));\n      return d.toISOString();\n    }\n  }\n\n  // 4. Handle Ambiguous Numeric Dates (e.g., \"12-03-2026\")\n  const m2 = lower.match(/^(\\d{1,2})[./-](\\d{1,2})[./-](\\d{2,4})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\n  if (m2) {\n    const v1 = parseInt(m2[1], 10);\n    const v2 = parseInt(m2[2], 10);\n    let year = parseInt(m2[3], 10);\n    if (year < 100) year += 2000; // Handle YY format\n\n    const hh = m2[4] ? parseInt(m2[4], 10) : 0;\n    const mm = m2[5] ? parseInt(m2[5], 10) : 0;\n\n    // Option A: Day-Month-Year (Standard UA/EU)\n    const dateDMY = new Date(Date.UTC(year, v2 - 1, v1, hh, mm));\n    // Option B: Month-Day-Year (Standard US)\n    const dateMDY = new Date(Date.UTC(year, v1 - 1, v2, hh, mm));\n\n    const isDMYValid = !isNaN(dateDMY.getTime()) && v2 <= 12;\n    const isMDYValid = !isNaN(dateMDY.getTime()) && v1 <= 12;\n\n    if (isDMYValid && isMDYValid) {\n      // Logic: If one is in the future and the other isn't, pick the one in the past.\n      if (dateDMY > now && dateMDY <= now) return dateMDY.toISOString();\n      if (dateMDY > now && dateDMY <= now) return dateDMY.toISOString();\n      \n      // If both are in the past, default to DMY (most common for your specific sources)\n      return dateDMY.toISOString();\n    } else if (isDMYValid) {\n      return dateDMY.toISOString();\n    } else if (isMDYValid) {\n      return dateMDY.toISOString();\n    }\n  }\n\n  // 5. Fallback for ISO strings only (skip for generic numeric strings to avoid US-default bug)\n  if (s.includes('T') || s.includes('Z')) {\n    const native = new Date(s);\n    if (!isNaN(native.getTime())) return native.toISOString();\n  }\n\n  return null;\n}\n/**\n * Pick a candidate date field from the item.\n * Adjust this list to match your scraper output.\n */\nfunction pickRawDate(json) {\n  return (\n    json.published_at ??\n    json.publishedAt ??\n    json.date ??\n    json.published ??\n    json.pubDate ??\n    json.created_at ??\n    json.createdAt ??\n    null\n  );\n}\n\n/* =========================\n   MAIN PROCESSING\n   ========================= */\nreturn $input.all().map(item => {\n  const json = item.json || {};\n\n  // Prefer an already-attached source_id. If not present, try common nested locations.\n  const source_id =\n    json.source_id ||\n    json.__feed?.source_id ||\n    json.__source?.source_id ||\n    json.articles?.source_id ||\n    \"\";\n\n  // Optional: preserve stakeholder_id similarly if you use it\n  const stakeholder_id =\n    json.stakeholder_id ||\n    json.__feed?.stakeholder_id ||\n    json.__source?.stakeholder_id ||\n    json.articles?.stakeholder_id ||\n    \"\";\n\n  // If placeholders are filled, use them; else use actual item data\n  const url = PLACEHOLDER_URL !== \"$input.first().json.url\"\n    ? PLACEHOLDER_URL\n    : (json.url || json.link || json.source_url || \"\");\n\n  const title = PLACEHOLDER_TITLE !== \"$input.first().json.title\"\n    ? PLACEHOLDER_TITLE\n    : (json.title || json.headline || \"\");\n\n  const summary = PLACEHOLDER_SUMMARY !== \"$input.first().json.content\"\n    ? PLACEHOLDER_SUMMARY\n    : (json.summary || json.content || json.contentSnippet || json.description || \"\");\n\n  const canonical_url = canonicalUrl(url);\n  const normalized_title = normalizeWhitespace(title).toLowerCase();\n  const normalized_summary = normalizeWhitespace(summary).toLowerCase();\n\n  // ---- DATE NORMALIZATION ----\n  const rawDate = pickRawDate(json);\n  const published_at = parseUaRuDateToISO(rawDate); // ISO or null\n\n  // Include source_id so dedupe is source-aware\n  const hash_material = [\n    \"v1\",\n    source_id || \"no_source\",\n    canonical_url,\n    normalized_title,\n    normalized_summary\n  ].join(\"|\");\n\n  const content_hash = sha256Hex(hash_material);\n\n  return {\n    json: {\n      ...json,\n\n      // Preserve/promote IDs\n      ...(source_id ? { source_id } : {}),\n      ...(stakeholder_id ? { stakeholder_id } : {}),\n\n      // Normalize content fields\n      url,\n      title,\n      summary,\n\n      // Normalized timestamp field for Supabase (use this in your insert)\n      published_at, // ISO string or null\n      // Keep raw date too (optional but useful for debugging)\n      raw_published_at: rawDate ?? null,\n\n      // Hashes\n      content_hash,\n      n8n_content_hash: content_hash\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4688,
          640
        ],
        "id": "7226849e-897a-49f0-991e-e9068f0bfa2c",
        "name": "Code in JavaScript5"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "GPT-5-MINI"
          },
          "responses": {
            "values": [
              {
                "content": "=# Role\nYou are a multilingual policy and infrastructure analysis assistant with expertise in public-sector news, disaster risk management, infrastructure, housing, and urban resilience.\n\nYou can read and translate Ukrainian, English, and other European languages accurately.\n\n---\n\n# Task\nGiven a news article **title** and **content**, perform the following tasks using ONLY the provided input text.\n\nIf the title or content is **not in English**, first translate it internally to English before performing summarization and classification.\n\n---\n\n## 1. Title Translation\n- Translate the article title into **German**\n- If the original title is in **Ukrainian or any non-English language**, accurately translate it\n- Preserve original meaning and professional tone\n- Do NOT add interpretation\n\n---\n\n## 2. Context Summarization\nGenerate **two short summaries**, each **1–2 sentences**, capturing the main context of the article:\n- One summary in **English**\n- One summary in **German**\n\nRules:\n- If the source content is Ukrainian or another language, translate it internally before summarizing\n- Summaries must reflect the **true meaning** of the original content\n- Be concise, factual, and neutral\n- Do not speculate or introduce external information\n\n---\n\n## 3. Sector Classification\nClassify the article into one or more sectors based **ONLY on the article title and content**.\n\n### Allowed Sectors (STRICT LIST — no other values allowed)\n- **Disaster Risk Management**\n- **Basic Infrastructure**\n- **Housing**\n- **Urban Resilience**\n\n### Sector Definitions\n- **Disaster Risk Management**: Activities, systems, and governance focused on anticipating, reducing, managing, and recovering from hazards through preparedness, emergency response, and recovery coordination.\n- **Basic Infrastructure**: Essential public utilities and everyday service infrastructure such as energy, water, wastewater, transport, communications, and critical public facilities.\n- **Housing**: Repair, reconstruction, or development of permanent residential dwellings to restore safe, adequate long-term living conditions.\n- **Urban Resilience**: City- or neighborhood-level planning and multi-sector interventions that strengthen a city’s ability to withstand shocks and long-term stresses.\n\n### Classification Rules\n- An article may belong to **multiple sectors**\n- Output sectors as an **array**\n- Classification must be based on the **translated meaning**, not surface keywords\n- If unclear or ambiguous, **default to \"Basic Infrastructure\"**\n- Do NOT invent categories or infer beyond the text\n\n---\n\n## Input\n- **Article Title:** {{ $json.title }}\n- **Article Content:**{{ $json.content }}\n\n---\n\n## Output Format (STRICT)\nReturn a JSON object with the following fields\n\n{\n  \"title_de\": \"\",\n  \"title_uk\": \"{{ $json.title }}\",\n  \"title_en\": \"\",\n  \"summary_en\": \"\",\n  \"summary_de\": \"\",\n  \"source_url\": {{ $json.url }},\n   \"published_date\": {{ $json.published_at }} ,\n\"n8n_contenthash\": {{ $json.content_hash }},\n\"source_id\": {{ $('fetch ministries').item.json.source_id }},\n  \"sector_classification\": [],\n  \"source_id\": {{ $('fetch ministries').item.json.source_id }}\n}\n"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -4240,
          656
        ],
        "id": "4a7829c4-6f72-4644-917c-952a92ce5093",
        "name": "Message a model2",
        "credentials": {
          "openAiApi": {
            "id": "a4ja82V4nnlunpii",
            "name": "openai"
          }
        }
      },
      {
        "parameters": {
          "numberInputs": 5
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -5920,
          608
        ],
        "id": "aa946499-c045-4c45-bdb2-56cad4bf4867",
        "name": "Merge5"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -4480,
          640
        ],
        "id": "a9ed7d62-3bce-4864-a218-4baeb4bff602",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -7040,
          672
        ],
        "id": "da283a74-e0f1-4297-bfd5-ea27ae2aeb16",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://xzulfjussvbykwnzgdba.supabase.co/rest/v1/rpc/check_articles_urls",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -5504,
          464
        ],
        "id": "3b1d1c5f-91bb-4634-8af4-2c96c4398074",
        "name": "HTTP Request1",
        "credentials": {
          "supabaseApi": {
            "id": "MlU51CIejkM7G5Fa",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// merge URLs\nconst urls = [...new Set(\n  items\n    .map(item => item.json.url)\n    .filter(Boolean)\n)];\n\nreturn [\n  {\n    json: {\n      p_urls: urls\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5728,
          464
        ],
        "id": "76736b93-7143-434e-9c03-9a7ec6024469",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f1485a0b-e84c-4493-be05-ea2e2449d782",
                "leftValue": "={{ $json.url_exists }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -5280,
          464
        ],
        "id": "05bd3c14-21cc-47ca-9833-c97c3b0b1008",
        "name": "If"
      },
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "source_url",
                "field2": "url"
              }
            ]
          },
          "resolve": "preferInput2",
          "options": {}
        },
        "type": "n8n-nodes-base.compareDatasets",
        "typeVersion": 2.3,
        "position": [
          -5040,
          592
        ],
        "id": "1df0d524-d9e7-47c6-a6ab-27257ff9fac2",
        "name": "Compare Datasets"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://xzulfjussvbykwnzgdba.supabase.co/rest/v1/rpc/get_specific_ministries",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -6800,
          672
        ],
        "id": "0ca14611-8269-458d-bcb7-141cc651685c",
        "name": "fetch ministries",
        "credentials": {
          "supabaseApi": {
            "id": "MlU51CIejkM7G5Fa",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3616,
          0
        ],
        "id": "9f3e77c3-f004-4103-aeae-e2624a5ea688",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Switch": {
        "main": [
          [
            {
              "node": "MoDtr",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "MoE",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "MoF",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "MoJ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MoDtr": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MoE": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "MoF": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "HTTP Request6": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "MoJ": {
        "main": [
          [
            {
              "node": "Merge5",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "Message a model2": {
        "main": [
          [
            {
              "node": "Create a row2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "fetch ministries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge5": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            },
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code in JavaScript5": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Message a model2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Datasets": {
        "main": [
          [],
          [],
          [
            {
              "node": "Code in JavaScript5",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "fetch ministries": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": " Scio Network ",
    "name": null,
    "description": null
  },
  "activeVersionId": "743ec69d-7c66-4600-8ac3-5073b8987029",
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "MoDtr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MoDtr": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MoE": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MoF": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "MoJ": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "fetch ministries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "fetch ministries": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-15T19:01:46.257Z",
  "id": "1vIQvkpheRzfysqo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SUR_website_Ingestion_v1_UA_Min_v1_final(C)",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name_en }}",
                    "rightValue": "Ministry of Digital Transformation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c576bfb2-d416-4180-875f-a5128ccf767e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ministry of Digital Transformation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "15a2c1c2-11a0-4045-ac41-d8c770783837",
                    "leftValue": "={{ $json.name_en }}",
                    "rightValue": "Ministry of Economy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ministry of Economy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4344ca4c-deab-4a2a-8c31-9570d3256971",
                    "leftValue": "={{ $json.name_en }}",
                    "rightValue": "Ministry of Finance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ministry of Finance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6eed03eb-6bfd-4e38-928c-6f9bd73e5856",
                    "leftValue": "={{ $json.name_en }}",
                    "rightValue": "Ministry of Energy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ministry of Energy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c9040c6d-bee5-4f2f-b4e1-c5847cfb8aff",
                    "leftValue": "={{ $json.name_en }}",
                    "rightValue": "Ministry of Justice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ministry of Justice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -6384,
        624
      ],
      "id": "8fefa1dc-df66-41cc-a8b2-c4c27ebb107f",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrl\": \"{{ $json.website_url }}\"\n}\n ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6160,
        864
      ],
      "id": "2bd44eb9-1c67-4fc1-9807-3bff38a506fc",
      "name": "HTTP Request6",
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrl\": \"{{ $json.website_url }}\"\n}\n ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6160,
        672
      ],
      "id": "c2ed01e6-fee3-427e-963a-188cbefd7d9d",
      "name": "MoF",
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrl\": \"{{ $json.website_url }}\"\n}\n ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6160,
        480
      ],
      "id": "a70ae4d3-3a1b-4190-a6f0-c97249d9c979",
      "name": "MoE",
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrl\":\"{{ $json.website_url }}\"\n}\n ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6160,
        288
      ],
      "id": "efab6e43-d86d-44b3-bc6d-794a54febfb6",
      "name": "MoDtr",
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ministry-scraper-85095088607.us-central1.run.app/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrl\": \"{{ $json.website_url }}\"\n}\n ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6160,
        1056
      ],
      "id": "28c16bc0-a3a1-4232-9753-f05e1ee4d98c",
      "name": "MoJ",
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "articles",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "summary_en",
              "fieldValue": "={{ $json.output[0].content[0].text.summary_en }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.output[0].content[0].text.source_url }}"
            },
            {
              "fieldId": "primary_sector",
              "fieldValue": "={{ Array.isArray($json.primary_sector) ? $json.primary_sector : [$json.primary_sector] }}"
            },
            {
              "fieldId": "summary_en",
              "fieldValue": "={{ $json.output[0].content[0].text.summary_en }}"
            },
            {
              "fieldId": "published_date",
              "fieldValue": "={{ $json.output[0].content[0].text.published_date }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.output[0].content[0].text.source_url }}"
            },
            {
              "fieldId": "summary_de",
              "fieldValue": "={{ $json.output[0].content[0].text.summary_de }}"
            },
            {
              "fieldId": "title_de",
              "fieldValue": "={{ $json.output[0].content[0].text.title_de }}"
            },
            {
              "fieldId": "title_en",
              "fieldValue": "={{ $json.output[0].content[0].text.title_en }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.output[0].content[0].text.source_url }}"
            },
            {
              "fieldId": "title_uk",
              "fieldValue": "={{ $json.output[0].content[0].text.title_en }}"
            },
            {
              "fieldId": "article_type",
              "fieldValue": "news"
            },
            {
              "fieldId": "summary_uk",
              "fieldValue": "={{ $json.output[0].content[0].text.title_uk }}"
            },
            {
              "fieldId": "n8n_content_hash",
              "fieldValue": "={{ $('Code in JavaScript5').item.json.n8n_content_hash }}"
            },
            {
              "fieldId": "source_id",
              "fieldValue": "={{ $json.output[0].content[0].text.source_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3904,
        656
      ],
      "id": "6c14c491-72a4-4035-9d85-054fdd833466",
      "name": "Create a row2",
      "credentials": {
        "supabaseApi": {
          "id": "MlU51CIejkM7G5Fa",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\n\n/* =========================\n   PLACEHOLDER INPUTS (for testing)\n   ========================= */\nconst PLACEHOLDER_URL = \"$input.first().json.url\";\nconst PLACEHOLDER_TITLE = \"$input.first().json.title\";\nconst PLACEHOLDER_SUMMARY = \"$input.first().json.content\";\n\n/* =========================\n   HELPERS\n   ========================= */\nfunction normalizeWhitespace(input) {\n  return String(input || \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction canonicalUrl(url) {\n  try {\n    const u = new URL(String(url || \"\").trim());\n    const DROP_PARAMS = new Set([\n      \"utm_source\", \"utm_medium\", \"utm_campaign\", \"utm_term\", \"utm_content\",\n      \"fbclid\", \"gclid\", \"igshid\",\n      \"mc_cid\", \"mc_eid\",\n      \"at_medium\", \"at_campaign\", \"at_custom1\", \"at_custom2\", \"at_custom3\"\n    ]);\n    [...u.searchParams.keys()].forEach(key => {\n      if (DROP_PARAMS.has(key.toLowerCase())) u.searchParams.delete(key);\n    });\n    const sortedParams = [...u.searchParams.entries()].sort(([a], [b]) => a.localeCompare(b));\n    u.search = \"\";\n    for (const [k, v] of sortedParams) u.searchParams.append(k, v);\n    u.pathname = u.pathname.replace(/\\/+$/, \"\");\n    return u.toString();\n  } catch {\n    return String(url || \"\").trim();\n  }\n}\n\nfunction sha256Hex(input) {\n  return crypto.createHash(\"sha256\").update(input, \"utf8\").digest(\"hex\");\n}\n\n/**\n * Parse common UA/RU textual dates (e.g., \"15 Січня 2026\") into ISO.\n * Returns ISO string (UTC midnight) or null if can't parse.\n */\n/**\n * Parse common UA/RU textual and numeric dates.\n * Handles ambiguity between DD/MM and MM/DD by checking against current time.\n */\nfunction parseUaRuDateToISO(raw) {\n  if (!raw) return null;\n\n  // 1. Handle Date objects or timestamps immediately\n  if (raw instanceof Date && !isNaN(raw.getTime())) return raw.toISOString();\n  if (typeof raw === \"number\") {\n    const d = new Date(raw);\n    return isNaN(d.getTime()) ? null : d.toISOString();\n  }\n\n  let s = String(raw).trim();\n  if (!s) return null;\n\n  const now = new Date();\n\n  // 2. Map UA + RU month names (Unambiguous)\n  const monthMap = new Map([\n    [\"січня\", 1], [\"січень\", 1], [\"лютого\", 2], [\"лютий\", 2],\n    [\"березня\", 3], [\"березень\", 3], [\"квітня\", 4], [\"квітень\", 4],\n    [\"травня\", 5], [\"травень\", 5], [\"червня\", 6], [\"червень\", 6],\n    [\"липня\", 7], [\"липень\", 7], [\"серпня\", 8], [\"серпень\", 8],\n    [\"вересня\", 9], [\"вересень\", 9], [\"жовтня\", 10], [\"жовтень\", 10],\n    [\"листопада\", 11], [\"листопад\", 11], [\"грудня\", 12], [\"грудень\", 12],\n    [\"января\", 1], [\"январь\", 1], [\"февраля\", 2], [\"февраль\", 2],\n    [\"марта\", 3], [\"март\", 3], [\"апреля\", 4], [\"апрель\", 4],\n    [\"мая\", 5], [\"май\", 5], [\"июня\", 6], [\"июнь\", 6],\n    [\"июля\", 7], [\"июль\", 7], [\"августа\", 8], [\"август\", 8],\n    [\"сентября\", 9], [\"сентябрь\", 9], [\"октября\", 10], [\"октябрь\", 10],\n    [\"ноября\", 11], [\"ноябрь\", 11], [\"декабря\", 12], [\"декабрь\", 12],\n  ]);\n\n  const lower = s.toLowerCase().replace(/\\u00A0/g, \" \").replace(/\\bр\\.?\\b/gi, \"\").trim();\n\n  // 3. Handle Textual Dates (e.g., \"15 Січня 2026\") - These are unambiguous\n  const m1 = lower.match(/(\\d{1,2})\\s*[-./]?\\s*([a-z\\u0400-\\u04ff]+)\\s*[-./]?\\s*(\\d{4})(?:\\s+(\\d{1,2}):(\\d{2}))?/i);\n  if (m1) {\n    const day = parseInt(m1[1], 10);\n    const month = monthMap.get(m1[2]);\n    const year = parseInt(m1[3], 10);\n    if (month) {\n      const d = new Date(Date.UTC(year, month - 1, day, m1[4]||0, m1[5]||0));\n      return d.toISOString();\n    }\n  }\n\n  // 4. Handle Ambiguous Numeric Dates (e.g., \"12-03-2026\")\n  const m2 = lower.match(/^(\\d{1,2})[./-](\\d{1,2})[./-](\\d{2,4})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\n  if (m2) {\n    const v1 = parseInt(m2[1], 10);\n    const v2 = parseInt(m2[2], 10);\n    let year = parseInt(m2[3], 10);\n    if (year < 100) year += 2000; // Handle YY format\n\n    const hh = m2[4] ? parseInt(m2[4], 10) : 0;\n    const mm = m2[5] ? parseInt(m2[5], 10) : 0;\n\n    // Option A: Day-Month-Year (Standard UA/EU)\n    const dateDMY = new Date(Date.UTC(year, v2 - 1, v1, hh, mm));\n    // Option B: Month-Day-Year (Standard US)\n    const dateMDY = new Date(Date.UTC(year, v1 - 1, v2, hh, mm));\n\n    const isDMYValid = !isNaN(dateDMY.getTime()) && v2 <= 12;\n    const isMDYValid = !isNaN(dateMDY.getTime()) && v1 <= 12;\n\n    if (isDMYValid && isMDYValid) {\n      // Logic: If one is in the future and the other isn't, pick the one in the past.\n      if (dateDMY > now && dateMDY <= now) return dateMDY.toISOString();\n      if (dateMDY > now && dateDMY <= now) return dateDMY.toISOString();\n      \n      // If both are in the past, default to DMY (most common for your specific sources)\n      return dateDMY.toISOString();\n    } else if (isDMYValid) {\n      return dateDMY.toISOString();\n    } else if (isMDYValid) {\n      return dateMDY.toISOString();\n    }\n  }\n\n  // 5. Fallback for ISO strings only (skip for generic numeric strings to avoid US-default bug)\n  if (s.includes('T') || s.includes('Z')) {\n    const native = new Date(s);\n    if (!isNaN(native.getTime())) return native.toISOString();\n  }\n\n  return null;\n}\n/**\n * Pick a candidate date field from the item.\n * Adjust this list to match your scraper output.\n */\nfunction pickRawDate(json) {\n  return (\n    json.published_at ??\n    json.publishedAt ??\n    json.date ??\n    json.published ??\n    json.pubDate ??\n    json.created_at ??\n    json.createdAt ??\n    null\n  );\n}\n\n/* =========================\n   MAIN PROCESSING\n   ========================= */\nreturn $input.all().map(item => {\n  const json = item.json || {};\n\n  // Prefer an already-attached source_id. If not present, try common nested locations.\n  const source_id =\n    json.source_id ||\n    json.__feed?.source_id ||\n    json.__source?.source_id ||\n    json.articles?.source_id ||\n    \"\";\n\n  // Optional: preserve stakeholder_id similarly if you use it\n  const stakeholder_id =\n    json.stakeholder_id ||\n    json.__feed?.stakeholder_id ||\n    json.__source?.stakeholder_id ||\n    json.articles?.stakeholder_id ||\n    \"\";\n\n  // If placeholders are filled, use them; else use actual item data\n  const url = PLACEHOLDER_URL !== \"$input.first().json.url\"\n    ? PLACEHOLDER_URL\n    : (json.url || json.link || json.source_url || \"\");\n\n  const title = PLACEHOLDER_TITLE !== \"$input.first().json.title\"\n    ? PLACEHOLDER_TITLE\n    : (json.title || json.headline || \"\");\n\n  const summary = PLACEHOLDER_SUMMARY !== \"$input.first().json.content\"\n    ? PLACEHOLDER_SUMMARY\n    : (json.summary || json.content || json.contentSnippet || json.description || \"\");\n\n  const canonical_url = canonicalUrl(url);\n  const normalized_title = normalizeWhitespace(title).toLowerCase();\n  const normalized_summary = normalizeWhitespace(summary).toLowerCase();\n\n  // ---- DATE NORMALIZATION ----\n  const rawDate = pickRawDate(json);\n  const published_at = parseUaRuDateToISO(rawDate); // ISO or null\n\n  // Include source_id so dedupe is source-aware\n  const hash_material = [\n    \"v1\",\n    source_id || \"no_source\",\n    canonical_url,\n    normalized_title,\n    normalized_summary\n  ].join(\"|\");\n\n  const content_hash = sha256Hex(hash_material);\n\n  return {\n    json: {\n      ...json,\n\n      // Preserve/promote IDs\n      ...(source_id ? { source_id } : {}),\n      ...(stakeholder_id ? { stakeholder_id } : {}),\n\n      // Normalize content fields\n      url,\n      title,\n      summary,\n\n      // Normalized timestamp field for Supabase (use this in your insert)\n      published_at, // ISO string or null\n      // Keep raw date too (optional but useful for debugging)\n      raw_published_at: rawDate ?? null,\n\n      // Hashes\n      content_hash,\n      n8n_content_hash: content_hash\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4688,
        640
      ],
      "id": "7226849e-897a-49f0-991e-e9068f0bfa2c",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=# Role\nYou are a multilingual policy and infrastructure analysis assistant with expertise in public-sector news, disaster risk management, infrastructure, housing, and urban resilience.\n\nYou can read and translate Ukrainian, English, and other European languages accurately.\n\n---\n\n# Task\nGiven a news article **title** and **content**, perform the following tasks using ONLY the provided input text.\n\nIf the title or content is **not in English**, first translate it internally to English before performing summarization and classification.\n\n---\n\n## 1. Title Translation\n- Translate the article title into **German**\n- If the original title is in **Ukrainian or any non-English language**, accurately translate it\n- Preserve original meaning and professional tone\n- Do NOT add interpretation\n\n---\n\n## 2. Context Summarization\nGenerate **two short summaries**, each **1–2 sentences**, capturing the main context of the article:\n- One summary in **English**\n- One summary in **German**\n\nRules:\n- If the source content is Ukrainian or another language, translate it internally before summarizing\n- Summaries must reflect the **true meaning** of the original content\n- Be concise, factual, and neutral\n- Do not speculate or introduce external information\n\n---\n\n## 3. Sector Classification\nClassify the article into one or more sectors based **ONLY on the article title and content**.\n\n### Allowed Sectors (STRICT LIST — no other values allowed)\n- **Disaster Risk Management**\n- **Basic Infrastructure**\n- **Housing**\n- **Urban Resilience**\n\n### Sector Definitions\n- **Disaster Risk Management**: Activities, systems, and governance focused on anticipating, reducing, managing, and recovering from hazards through preparedness, emergency response, and recovery coordination.\n- **Basic Infrastructure**: Essential public utilities and everyday service infrastructure such as energy, water, wastewater, transport, communications, and critical public facilities.\n- **Housing**: Repair, reconstruction, or development of permanent residential dwellings to restore safe, adequate long-term living conditions.\n- **Urban Resilience**: City- or neighborhood-level planning and multi-sector interventions that strengthen a city’s ability to withstand shocks and long-term stresses.\n\n### Classification Rules\n- An article may belong to **multiple sectors**\n- Output sectors as an **array**\n- Classification must be based on the **translated meaning**, not surface keywords\n- If unclear or ambiguous, **default to \"Basic Infrastructure\"**\n- Do NOT invent categories or infer beyond the text\n\n---\n\n## Input\n- **Article Title:** {{ $json.title }}\n- **Article Content:**{{ $json.content }}\n\n---\n\n## Output Format (STRICT)\nReturn a JSON object with the following fields\n\n{\n  \"title_de\": \"\",\n  \"title_uk\": \"{{ $json.title }}\",\n  \"title_en\": \"\",\n  \"summary_en\": \"\",\n  \"summary_de\": \"\",\n  \"source_url\": {{ $json.url }},\n   \"published_date\": {{ $json.published_at }} ,\n\"n8n_contenthash\": {{ $json.content_hash }},\n\"source_id\": {{ $('fetch ministries').item.json.source_id }},\n  \"sector_classification\": [],\n  \"source_id\": {{ $('fetch ministries').item.json.source_id }}\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -4240,
        656
      ],
      "id": "4a7829c4-6f72-4644-917c-952a92ce5093",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "a4ja82V4nnlunpii",
          "name": "openai"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5920,
        608
      ],
      "id": "aa946499-c045-4c45-bdb2-56cad4bf4867",
      "name": "Merge5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4480,
        640
      ],
      "id": "a9ed7d62-3bce-4864-a218-4baeb4bff602",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -7040,
        672
      ],
      "id": "da283a74-e0f1-4297-bfd5-ea27ae2aeb16",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xzulfjussvbykwnzgdba.supabase.co/rest/v1/rpc/check_articles_urls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5504,
        464
      ],
      "id": "3b1d1c5f-91bb-4634-8af4-2c96c4398074",
      "name": "HTTP Request1",
      "credentials": {
        "supabaseApi": {
          "id": "MlU51CIejkM7G5Fa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// merge URLs\nconst urls = [...new Set(\n  items\n    .map(item => item.json.url)\n    .filter(Boolean)\n)];\n\nreturn [\n  {\n    json: {\n      p_urls: urls\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5728,
        464
      ],
      "id": "76736b93-7143-434e-9c03-9a7ec6024469",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1485a0b-e84c-4493-be05-ea2e2449d782",
              "leftValue": "={{ $json.url_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5280,
        464
      ],
      "id": "05bd3c14-21cc-47ca-9833-c97c3b0b1008",
      "name": "If"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "source_url",
              "field2": "url"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -5040,
        592
      ],
      "id": "1df0d524-d9e7-47c6-a6ab-27257ff9fac2",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xzulfjussvbykwnzgdba.supabase.co/rest/v1/rpc/get_specific_ministries",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6800,
        672
      ],
      "id": "0ca14611-8269-458d-bcb7-141cc651685c",
      "name": "fetch ministries",
      "credentials": {
        "supabaseApi": {
          "id": "MlU51CIejkM7G5Fa",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3616,
        0
      ],
      "id": "9f3e77c3-f004-4103-aeae-e2624a5ea688",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-15T19:01:46.262Z",
      "createdAt": "2026-01-15T19:01:46.262Z",
      "role": "workflow:owner",
      "workflowId": "1vIQvkpheRzfysqo",
      "projectId": "cFPhnNmamSW061Vq"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    }
  },
  "tags": [
    {
      "updatedAt": "2026-06-05T11:23:17.004Z",
      "createdAt": "2026-06-05T11:23:17.004Z",
      "id": "gXm86upHPUf3TSkn",
      "name": "ministries-webscraped-wf"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-06-05T11:23:19.741Z",
  "versionId": "743ec69d-7c66-4600-8ac3-5073b8987029"
}